/* --- fast service custom styling --- */


/*
 * Component: fonts
 * -----------------
 */
@font-face
{	
	font-family:'Source Sans Pro';
	font-style:normal;
	font-weight:400;
	src: url('../../../_assets/css/fonts/source-sans-pro-v10-latin-regular.eot');/*IE9 Compat Modes*/
	src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
		url('../../../_assets/css/fonts/source-sans-pro-v10-latin-regular.eot?#iefix')format('embedded-opentype'),/* IE6-IE8*/
		url('../../../_assets/css/fonts/source-sans-pro-v10-latin-regular.woff2')format('woff2'),/*Super Modern Browsers*/
		url('../../../_assets/css/fonts/source-sans-pro-v10-latin-regular.woff')format('woff'),/*Modern Browsers*/
		url('../../../_assets/css/fonts/source-sans-pro-v10-latin-regular.ttf')format('truetype'),/*Safari, Android, IOS*/
		url('../../../_assets/css/fonts/source-sans-pro-v10-latin-regular.svg#SourceSansPro')format('svg');/*legacy IOS*/
}
/* general */
.text-white
{
    color: #ffffff;
}
.display-none
{
    display: none;
}

.btn.btn-flat {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 1px;
}

.nav-main  .nav  li.li-header {
  padding: 7px 18px;
  color: #4b646f;
  background: #1a2226;
  font-size: 15px;
}
.sidebar-left > li.header {
    overflow: hidden;
    text-overflow: clip;
}
.notifications li
{
  padding-right: 5px;
}

/*
 * panels custom
 * ------------ */
.panel-featured-purple {
  border-color: #605ca8;
}

.panel-featured-purple .panel-title {
  color: #605ca8;
}



/*
 * Component: color
 * -----------------
 */

.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black,
.bg-red-active,
.bg-yellow-active,
.bg-aqua-active,
.bg-blue-active,
.bg-light-blue-active,
.bg-green-active,
.bg-navy-active,
.bg-teal-active,
.bg-olive-active,
.bg-lime-active,
.bg-orange-active,
.bg-fuchsia-active,
.bg-purple-active,
.bg-maroon-active,
.bg-black-active,
.callout.callout-danger,
.callout.callout-warning,
.callout.callout-info,
.callout.callout-success,
.alert-success,
.alert-danger,
.alert-error,
.alert-warning,
.alert-info,
.label-danger,
.label-info,
.label-warning,
.label-primary,
.label-success,
.modal-primary .modal-body,
.modal-primary .modal-header,
.modal-primary .modal-footer,
.modal-warning .modal-body,
.modal-warning .modal-header,
.modal-warning .modal-footer,
.modal-info .modal-body,
.modal-info .modal-header,
.modal-info .modal-footer,
.modal-success .modal-body,
.modal-success .modal-header,
.modal-success .modal-footer,
.modal-danger .modal-body,
.modal-danger .modal-header,
.modal-danger .modal-footer {
  color: #fff !important;
}


/*
 * Component: background color
 * ---------------------------
 */
.bg-navy {
  background-color: #001f3f;
}
.bg-teal {
  background-color: #39cccc;
}
.bg-olive {
  background-color: #3d9970;
}
.bg-lime {
  background-color: #01ff70;
}
.bg-orange {
  background-color: #ff851b;
}
.bg-fuchsia {
  background-color: #f012be;
}
.bg-purple {
  background-color: #605ca8;
}
.bg-maroon {
  background-color: #d81b60;
}
.bg-red {
  background-color: #dd4b39;
}
.bg-black {
  background-color: #111111;
}
.bg-blue {
  background-color: #0073b7;
}


/*
 * Component: text align
 * ---------------------
 */
 


/*
 * Component: font weight
 * ----------------------
 */
.hr_font_weight_300 {
  font-weight: 300 !important;
}
.hr_font_weight_400 {
  font-weight: 400 !important;
}
.hr_font_weight_500 {
  font-weight: 500 !important;
}
.hr_font_weight_600 {
  font-weight: 600 !important;
}
.hr_font_weight_700 {
  font-weight: 700 !important;
}
.hr_font_weight_800 {
  font-weight: 800 !important;
}

/*
 * Component: text color
 * ---------------------
 */
.text-white
{
  color: #ffffff;
}
.text-red {
  color: #dd4b39;
}
.text-yellow {
  color: #f39c12;
}
.text-aqua {
  color: #00c0ef;
}
.text-blue {
  color: #0073b7;
}
.text-black {
  color: #111111;
}
.text-light-blue {
  color: #3c8dbc;
}
.text-green {
  color: #00a65a;
}
.text-gray {
  color: #d2d6de;
}
.text-navy {
  color: #001f3f !important;
}
.text-teal {
  color: #39cccc;
}
.text-olive {
  color: #3d9970;
}
.text-lime {
  color: #01ff70;
}
.text-orange {
  color: #ff851b;
}
.text-fuchsia {
  color: #f012be;
}
.text-purple {
  color: #605ca8;
}
.text-maroon {
  color: #d81b60;
}
.link-muted {
  color: #7a869d;
}
.text-white {
    color: #ffffff;
}
.text-bold{
  font-weight: 700;
}
.text-red {
  color: #dd4b39;
}
.text-blue-dark {
  color: #2a333c;
}

/*!
*
* margins and paddings
* ---------------- */
.m-r-8 {
  margin-right: 8px;
}
.m-l {
  margin-left: 0 !important;
}

/*!
*
* text font sizes
* ---------------- */
.t-6
{
  font-size: 6px;
}
.t-7
{
  font-size: 7px;
}
.t-8
{
  font-size: 8px;
}
.t-9
{
  font-size: 9px;
}

.t-10
{
  font-size: 10px;
}
.t-11
{
  font-size: 11px;
}
.t-12
{
  font-size: 12px;
}
.t-13
{
  font-size: 13px;
}
.t-14
{
  font-size: 14px;
}
.t-15
{
  font-size: 15px;
}
.t-16
{
  font-size: 16px;
}
.t-17
{
  font-size: 17px;
}
.t-18
{
  font-size: 18px;
}
.t-19
{
  font-size: 19px;
}
.t-20
{
  font-size: 20px;
}
.t-21
{
  font-size: 21px;
}
.t-22
{
  font-size: 22px;
}

/*
 * Component: Forms and Input, Groups
 * ----------------------------------
 */
.form-control {
  border-radius: 0;
  box-shadow: none;
  border-color: #d2d6de;
}
.input-group .input-group-addon {
  border-radius: 0;
  /*
  border-color: #d2d6de;
  background-color: #fff;
  */
}


/*!
*
* modal for approving jobs and adverts
* ------------------------------------- */
.unapproved_td
{
  font-weight: 600;
}
.unapproved_td:hover
{
  text-decoration: none;
  transition: all .2s ease;
  color: rgba(244, 67, 54, 0.7);
}

/*!
*
* viewing advert details
* ----------------------- */
/* selected advert details */
/*
.advert-containerWrapper {
  width: 100%;
}
.advert-containerWrapper h3
{
  text-transform: capitalize;
  color: #f44336;
  font-family: 'Offside', cursive;
  font-size: 1.7em;
  margin-bottom: .3em;
}
.advert-containerWrapper ul {
  list-style: none;
}
.advert-containerWrapper ul li {
  padding-bottom: 5px;
}
#mainBannerView img {
  width: 100%;
  height: auto;
}
.bannerThumbNails img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  border: 1px solid #D1CFCF;
}

#advert-description {
  text-align: justify;
}
.stat_wrapper a {
  font-size: 12px;
  font-family: 'Offside', cursive;
}
*/


/*!
*
* material design styling 
*
-------------------------------- */

/*!
 * 
 *
 *
 * Background and Color
*/

.mdb-color.lighten-5 {
  background-color: #d0d6e2 !important; }

.mdb-color.lighten-4 {
  background-color: #b1bace !important; }

.mdb-color.lighten-3 {
  background-color: #929fba !important; }

.mdb-color.lighten-2 {
  background-color: #7283a7 !important; }

.mdb-color.lighten-1 {
  background-color: #59698d !important; }

.mdb-color {
  background-color: #45526e !important; }

.mdb-color-text {
  color: #45526e !important; }

.rgba-mdb-color-slight,
.rgba-mdb-color-slight:after {
  background-color: rgba(69, 82, 110, 0.1); }

.rgba-mdb-color-light,
.rgba-mdb-color-light:after {
  background-color: rgba(69, 82, 110, 0.3); }

.rgba-mdb-color-strong,
.rgba-mdb-color-strong:after {
  background-color: rgba(69, 82, 110, 0.7); }

.mdb-color.darken-1 {
  background-color: #3b465e !important; }

.mdb-color.darken-2 {
  background-color: #2e3951 !important; }

.mdb-color.darken-3 {
  background-color: #1c2a48 !important; }

.mdb-color.darken-4 {
  background-color: #1c2331 !important; }

.red.lighten-5 {
  background-color: #ffebee !important; }

.red.lighten-4 {
  background-color: #ffcdd2 !important; }

.red.lighten-3 {
  background-color: #ef9a9a !important; }

.red.lighten-2 {
  background-color: #e57373 !important; }

.red.lighten-1 {
  background-color: #ef5350 !important; }

.red {
  background-color: #f44336 !important; }

.red-text {
  color: #f44336 !important; }

.rgba-red-slight,
.rgba-red-slight:after {
  background-color: rgba(244, 67, 54, 0.1); }

.rgba-red-light,
.rgba-red-light:after {
  background-color: rgba(244, 67, 54, 0.3); }

.rgba-red-strong,
.rgba-red-strong:after {
  background-color: rgba(244, 67, 54, 0.7); }

.red.darken-1 {
  background-color: #e53935 !important; }

.red.darken-2 {
  background-color: #d32f2f !important; }

.red.darken-3 {
  background-color: #c62828 !important; }

.red.darken-4 {
  background-color: #b71c1c !important; }

.red.accent-1 {
  background-color: #ff8a80 !important; }

.red.accent-2 {
  background-color: #ff5252 !important; }

.red.accent-3 {
  background-color: #ff1744 !important; }

.red.accent-4 {
  background-color: #d50000 !important; }

.pink.lighten-5 {
  background-color: #fce4ec !important; }

.pink.lighten-4 {
  background-color: #f8bbd0 !important; }

.pink.lighten-3 {
  background-color: #f48fb1 !important; }

.pink.lighten-2 {
  background-color: #f06292 !important; }

.pink.lighten-1 {
  background-color: #ec407a !important; }

.pink {
  background-color: #e91e63 !important; }

.pink-text {
  color: #e91e63 !important; }

.rgba-pink-slight,
.rgba-pink-slight:after {
  background-color: rgba(233, 30, 99, 0.1); }

.rgba-pink-light,
.rgba-pink-light:after {
  background-color: rgba(233, 30, 99, 0.3); }

.rgba-pink-strong,
.rgba-pink-strong:after {
  background-color: rgba(233, 30, 99, 0.7); }

.pink.darken-1 {
  background-color: #d81b60 !important; }

.pink.darken-2 {
  background-color: #c2185b !important; }

.pink.darken-3 {
  background-color: #ad1457 !important; }

.pink.darken-4 {
  background-color: #880e4f !important; }

.pink.accent-1 {
  background-color: #ff80ab !important; }

.pink.accent-2 {
  background-color: #ff4081 !important; }

.pink.accent-3 {
  background-color: #f50057 !important; }

.pink.accent-4 {
  background-color: #c51162 !important; }

.purple.lighten-5 {
  background-color: #f3e5f5 !important; }

.purple.lighten-4 {
  background-color: #e1bee7 !important; }

.purple.lighten-3 {
  background-color: #ce93d8 !important; }

.purple.lighten-2 {
  background-color: #ba68c8 !important; }

.purple.lighten-1 {
  background-color: #ab47bc !important; }

.purple {
  background-color: #9c27b0 !important; }

.purple-text {
  color: #9c27b0 !important; }

.rgba-purple-slight,
.rgba-purple-slight:after {
  background-color: rgba(156, 39, 176, 0.1); }

.rgba-purple-light,
.rgba-purple-light:after {
  background-color: rgba(156, 39, 176, 0.3); }

.rgba-purple-strong,
.rgba-purple-strong:after {
  background-color: rgba(156, 39, 176, 0.7); }

.purple.darken-1 {
  background-color: #8e24aa !important; }

.purple.darken-2 {
  background-color: #7b1fa2 !important; }

.purple.darken-3 {
  background-color: #6a1b9a !important; }

.purple.darken-4 {
  background-color: #4a148c !important; }

.purple.accent-1 {
  background-color: #ea80fc !important; }

.purple.accent-2 {
  background-color: #e040fb !important; }

.purple.accent-3 {
  background-color: #d500f9 !important; }

.purple.accent-4 {
  background-color: #aa00ff !important; }

.deep-purple.lighten-5 {
  background-color: #ede7f6 !important; }

.deep-purple.lighten-4 {
  background-color: #d1c4e9 !important; }

.deep-purple.lighten-3 {
  background-color: #b39ddb !important; }

.deep-purple.lighten-2 {
  background-color: #9575cd !important; }

.deep-purple.lighten-1 {
  background-color: #7e57c2 !important; }

.deep-purple {
  background-color: #673ab7 !important; }

.deep-purple-text {
  color: #673ab7 !important; }

.rgba-deep-purple-slight,
.rgba-deep-purple-slight:after {
  background-color: rgba(103, 58, 183, 0.1); }

.rgba-deep-purple-light,
.rgba-deep-purple-light:after {
  background-color: rgba(103, 58, 183, 0.3); }

.rgba-deep-purple-strong,
.rgba-deep-purple-strong:after {
  background-color: rgba(103, 58, 183, 0.7); }

.deep-purple.darken-1 {
  background-color: #5e35b1 !important; }

.deep-purple.darken-2 {
  background-color: #512da8 !important; }

.deep-purple.darken-3 {
  background-color: #4527a0 !important; }

.deep-purple.darken-4 {
  background-color: #311b92 !important; }

.deep-purple.accent-1 {
  background-color: #b388ff !important; }

.deep-purple.accent-2 {
  background-color: #7c4dff !important; }

.deep-purple.accent-3 {
  background-color: #651fff !important; }

.deep-purple.accent-4 {
  background-color: #6200ea !important; }

.indigo.lighten-5 {
  background-color: #e8eaf6 !important; }

.indigo.lighten-4 {
  background-color: #c5cae9 !important; }

.indigo.lighten-3 {
  background-color: #9fa8da !important; }

.indigo.lighten-2 {
  background-color: #7986cb !important; }

.indigo.lighten-1 {
  background-color: #5c6bc0 !important; }

.indigo {
  background-color: #3f51b5 !important; }

.indigo-text {
  color: #3f51b5 !important; }

.rgba-indigo-slight,
.rgba-indigo-slight:after {
  background-color: rgba(63, 81, 181, 0.1); }

.rgba-indigo-light,
.rgba-indigo-light:after {
  background-color: rgba(63, 81, 181, 0.3); }

.rgba-indigo-strong,
.rgba-indigo-strong:after {
  background-color: rgba(63, 81, 181, 0.7); }

.indigo.darken-1 {
  background-color: #3949ab !important; }

.indigo.darken-2 {
  background-color: #303f9f !important; }

.indigo.darken-3 {
  background-color: #283593 !important; }

.indigo.darken-4 {
  background-color: #1a237e !important; }

.indigo.accent-1 {
  background-color: #8c9eff !important; }

.indigo.accent-2 {
  background-color: #536dfe !important; }

.indigo.accent-3 {
  background-color: #3d5afe !important; }

.indigo.accent-4 {
  background-color: #304ffe !important; }

.blue.lighten-5 {
  background-color: #e3f2fd !important; }

.blue.lighten-4 {
  background-color: #bbdefb !important; }

.blue.lighten-3 {
  background-color: #90caf9 !important; }

.blue.lighten-2 {
  background-color: #64b5f6 !important; }

.blue.lighten-1 {
  background-color: #42a5f5 !important; }

.blue {
  background-color: #2196f3 !important; }

.blue-text {
  color: #2196f3 !important; }

.rgba-blue-slight,
.rgba-blue-slight:after {
  background-color: rgba(33, 150, 243, 0.1); }

.rgba-blue-light,
.rgba-blue-light:after {
  background-color: rgba(33, 150, 243, 0.3); }

.rgba-blue-strong,
.rgba-blue-strong:after {
  background-color: rgba(33, 150, 243, 0.7); }

.blue.darken-1 {
  background-color: #1e88e5 !important; }

.blue.darken-2 {
  background-color: #1976d2 !important; }

.blue.darken-3 {
  background-color: #1565c0 !important; }

.blue.darken-4 {
  background-color: #0d47a1 !important; }

.blue.accent-1 {
  background-color: #82b1ff !important; }

.blue.accent-2 {
  background-color: #448aff !important; }

.blue.accent-3 {
  background-color: #2979ff !important; }

.blue.accent-4 {
  background-color: #2962ff !important; }

.light-blue.lighten-5 {
  background-color: #e1f5fe !important; }

.light-blue.lighten-4 {
  background-color: #b3e5fc !important; }

.light-blue.lighten-3 {
  background-color: #81d4fa !important; }

.light-blue.lighten-2 {
  background-color: #4fc3f7 !important; }

.light-blue.lighten-1 {
  background-color: #29b6f6 !important; }

.light-blue {
  background-color: #03a9f4 !important; }

.light-blue-text {
  color: #03a9f4 !important; }

.rgba-light-blue-slight,
.rgba-light-blue-slight:after {
  background-color: rgba(3, 169, 244, 0.1); }

.rgba-light-blue-light,
.rgba-light-blue-light:after {
  background-color: rgba(3, 169, 244, 0.3); }

.rgba-light-blue-strong,
.rgba-light-blue-strong:after {
  background-color: rgba(3, 169, 244, 0.7); }

.light-blue.darken-1 {
  background-color: #039be5 !important; }

.light-blue.darken-2 {
  background-color: #0288d1 !important; }

.light-blue.darken-3 {
  background-color: #0277bd !important; }

.light-blue.darken-4 {
  background-color: #01579b !important; }

.light-blue.accent-1 {
  background-color: #80d8ff !important; }

.light-blue.accent-2 {
  background-color: #40c4ff !important; }

.light-blue.accent-3 {
  background-color: #00b0ff !important; }

.light-blue.accent-4 {
  background-color: #0091ea !important; }

.cyan.lighten-5 {
  background-color: #e0f7fa !important; }

.cyan.lighten-4 {
  background-color: #b2ebf2 !important; }

.cyan.lighten-3 {
  background-color: #80deea !important; }

.cyan.lighten-2 {
  background-color: #4dd0e1 !important; }

.cyan.lighten-1 {
  background-color: #26c6da !important; }

.cyan {
  background-color: #00bcd4 !important; }

.cyan-text {
  color: #00bcd4 !important; }

.rgba-cyan-slight,
.rgba-cyan-slight:after {
  background-color: rgba(0, 188, 212, 0.1); }

.rgba-cyan-light,
.rgba-cyan-light:after {
  background-color: rgba(0, 188, 212, 0.3); }

.rgba-cyan-strong,
.rgba-cyan-strong:after {
  background-color: rgba(0, 188, 212, 0.7); }

.cyan.darken-1 {
  background-color: #00acc1 !important; }

.cyan.darken-2 {
  background-color: #0097a7 !important; }

.cyan.darken-3 {
  background-color: #00838f !important; }

.cyan.darken-4 {
  background-color: #006064 !important; }

.cyan.accent-1 {
  background-color: #84ffff !important; }

.cyan.accent-2 {
  background-color: #18ffff !important; }

.cyan.accent-3 {
  background-color: #00e5ff !important; }

.cyan.accent-4 {
  background-color: #00b8d4 !important; }

.teal.lighten-5 {
  background-color: #e0f2f1 !important; }

.teal.lighten-4 {
  background-color: #b2dfdb !important; }

.teal.lighten-3 {
  background-color: #80cbc4 !important; }

.teal.lighten-2 {
  background-color: #4db6ac !important; }

.teal.lighten-1 {
  background-color: #26a69a !important; }

.teal {
  background-color: #009688 !important; }

.teal-text {
  color: #009688 !important; }

.rgba-teal-slight,
.rgba-teal-slight:after {
  background-color: rgba(0, 150, 136, 0.1); }

.rgba-teal-light,
.rgba-teal-light:after {
  background-color: rgba(0, 150, 136, 0.3); }

.rgba-teal-strong,
.rgba-teal-strong:after {
  background-color: rgba(0, 150, 136, 0.7); }

.teal.darken-1 {
  background-color: #00897b !important; }

.teal.darken-2 {
  background-color: #00796b !important; }

.teal.darken-3 {
  background-color: #00695c !important; }

.teal.darken-4 {
  background-color: #004d40 !important; }

.teal.accent-1 {
  background-color: #a7ffeb !important; }

.teal.accent-2 {
  background-color: #64ffda !important; }

.teal.accent-3 {
  background-color: #1de9b6 !important; }

.teal.accent-4 {
  background-color: #00bfa5 !important; }

.green.lighten-5 {
  background-color: #e8f5e9 !important; }

.green.lighten-4 {
  background-color: #c8e6c9 !important; }

.green.lighten-3 {
  background-color: #a5d6a7 !important; }

.green.lighten-2 {
  background-color: #81c784 !important; }

.green.lighten-1 {
  background-color: #66bb6a !important; }

.green {
  background-color: #4caf50 !important; }

.green-text {
  color: #4caf50 !important; }

.rgba-green-slight,
.rgba-green-slight:after {
  background-color: rgba(76, 175, 80, 0.1); }

.rgba-green-light,
.rgba-green-light:after {
  background-color: rgba(76, 175, 80, 0.3); }

.rgba-green-strong,
.rgba-green-strong:after {
  background-color: rgba(76, 175, 80, 0.7); }

.green.darken-1 {
  background-color: #43a047 !important; }

.green.darken-2 {
  background-color: #388e3c !important; }

.green.darken-3 {
  background-color: #2e7d32 !important; }

.green.darken-4 {
  background-color: #1b5e20 !important; }

.green.accent-1 {
  background-color: #b9f6ca !important; }

.green.accent-2 {
  background-color: #69f0ae !important; }

.green.accent-3 {
  background-color: #00e676 !important; }

.green.accent-4 {
  background-color: #00c853 !important; }

.light-green.lighten-5 {
  background-color: #f1f8e9 !important; }

.light-green.lighten-4 {
  background-color: #dcedc8 !important; }

.light-green.lighten-3 {
  background-color: #c5e1a5 !important; }

.light-green.lighten-2 {
  background-color: #aed581 !important; }

.light-green.lighten-1 {
  background-color: #9ccc65 !important; }

.light-green {
  background-color: #8bc34a !important; }

.light-green-text {
  color: #8bc34a !important; }

.rgba-light-green-slight,
.rgba-light-green-slight:after {
  background-color: rgba(139, 195, 74, 0.1); }

.rgba-light-green-light,
.rgba-light-green-light:after {
  background-color: rgba(139, 195, 74, 0.3); }

.rgba-light-green-strong,
.rgba-light-green-strong:after {
  background-color: rgba(139, 195, 74, 0.7); }

.light-green.darken-1 {
  background-color: #7cb342 !important; }

.light-green.darken-2 {
  background-color: #689f38 !important; }

.light-green.darken-3 {
  background-color: #558b2f !important; }

.light-green.darken-4 {
  background-color: #33691e !important; }

.light-green.accent-1 {
  background-color: #ccff90 !important; }

.light-green.accent-2 {
  background-color: #b2ff59 !important; }

.light-green.accent-3 {
  background-color: #76ff03 !important; }

.light-green.accent-4 {
  background-color: #64dd17 !important; }

.lime.lighten-5 {
  background-color: #f9fbe7 !important; }

.lime.lighten-4 {
  background-color: #f0f4c3 !important; }

.lime.lighten-3 {
  background-color: #e6ee9c !important; }

.lime.lighten-2 {
  background-color: #dce775 !important; }

.lime.lighten-1 {
  background-color: #d4e157 !important; }

.lime {
  background-color: #cddc39 !important; }

.lime-text {
  color: #cddc39 !important; }

.rgba-lime-slight,
.rgba-lime-slight:after {
  background-color: rgba(205, 220, 57, 0.1); }

.rgba-lime-light,
.rgba-lime-light:after {
  background-color: rgba(205, 220, 57, 0.3); }

.rgba-lime-strong,
.rgba-lime-strong:after {
  background-color: rgba(205, 220, 57, 0.7); }

.lime.darken-1 {
  background-color: #c0ca33 !important; }

.lime.darken-2 {
  background-color: #afb42b !important; }

.lime.darken-3 {
  background-color: #9e9d24 !important; }

.lime.darken-4 {
  background-color: #827717 !important; }

.lime.accent-1 {
  background-color: #f4ff81 !important; }

.lime.accent-2 {
  background-color: #eeff41 !important; }

.lime.accent-3 {
  background-color: #c6ff00 !important; }

.lime.accent-4 {
  background-color: #aeea00 !important; }

.yellow.lighten-5 {
  background-color: #fffde7 !important; }

.yellow.lighten-4 {
  background-color: #fff9c4 !important; }

.yellow.lighten-3 {
  background-color: #fff59d !important; }

.yellow.lighten-2 {
  background-color: #fff176 !important; }

.yellow.lighten-1 {
  background-color: #ffee58 !important; }

.yellow {
  background-color: #ffeb3b !important; }

.yellow-text {
  color: #ffeb3b !important; }

.rgba-yellow-slight,
.rgba-yellow-slight:after {
  background-color: rgba(255, 235, 59, 0.1); }

.rgba-yellow-light,
.rgba-yellow-light:after {
  background-color: rgba(255, 235, 59, 0.3); }

.rgba-yellow-strong,
.rgba-yellow-strong:after {
  background-color: rgba(255, 235, 59, 0.7); }

.yellow.darken-1 {
  background-color: #fdd835 !important; }

.yellow.darken-2 {
  background-color: #fbc02d !important; }

.yellow.darken-3 {
  background-color: #f9a825 !important; }

.yellow.darken-4 {
  background-color: #f57f17 !important; }

.yellow.accent-1 {
  background-color: #ffff8d !important; }

.yellow.accent-2 {
  background-color: #ffff00 !important; }

.yellow.accent-3 {
  background-color: #ffea00 !important; }

.yellow.accent-4 {
  background-color: #ffd600 !important; }

.amber.lighten-5 {
  background-color: #fff8e1 !important; }

.amber.lighten-4 {
  background-color: #ffecb3 !important; }

.amber.lighten-3 {
  background-color: #ffe082 !important; }

.amber.lighten-2 {
  background-color: #ffd54f !important; }

.amber.lighten-1 {
  background-color: #ffca28 !important; }

.amber {
  background-color: #ffc107 !important; }

.amber-text {
  color: #ffc107 !important; }

.rgba-amber-slight,
.rgba-amber-slight:after {
  background-color: rgba(255, 193, 7, 0.1); }

.rgba-amber-light,
.rgba-amber-light:after {
  background-color: rgba(255, 193, 7, 0.3); }

.rgba-amber-strong,
.rgba-amber-strong:after {
  background-color: rgba(255, 193, 7, 0.7); }

.amber.darken-1 {
  background-color: #ffb300 !important; }

.amber.darken-2 {
  background-color: #ffa000 !important; }

.amber.darken-3 {
  background-color: #ff8f00 !important; }

.amber.darken-4 {
  background-color: #ff6f00 !important; }

.amber.accent-1 {
  background-color: #ffe57f !important; }

.amber.accent-2 {
  background-color: #ffd740 !important; }

.amber.accent-3 {
  background-color: #ffc400 !important; }

.amber.accent-4 {
  background-color: #ffab00 !important; }

.orange.lighten-5 {
  background-color: #fff3e0 !important; }

.orange.lighten-4 {
  background-color: #ffe0b2 !important; }

.orange.lighten-3 {
  background-color: #ffcc80 !important; }

.orange.lighten-2 {
  background-color: #ffb74d !important; }

.orange.lighten-1 {
  background-color: #ffa726 !important; }

.orange {
  background-color: #ff9800 !important; }

.orange-text {
  color: #ff9800 !important; }

.rgba-orange-slight,
.rgba-orange-slight:after {
  background-color: rgba(255, 152, 0, 0.1); }

.rgba-orange-light,
.rgba-orange-light:after {
  background-color: rgba(255, 152, 0, 0.3); }

.rgba-orange-strong,
.rgba-orange-strong:after {
  background-color: rgba(255, 152, 0, 0.7); }

.orange.darken-1 {
  background-color: #fb8c00 !important; }

.orange.darken-2 {
  background-color: #f57c00 !important; }

.orange.darken-3 {
  background-color: #ef6c00 !important; }

.orange.darken-4 {
  background-color: #e65100 !important; }

.orange.accent-1 {
  background-color: #ffd180 !important; }

.orange.accent-2 {
  background-color: #ffab40 !important; }

.orange.accent-3 {
  background-color: #ff9100 !important; }

.orange.accent-4 {
  background-color: #ff6d00 !important; }

.deep-orange.lighten-5 {
  background-color: #fbe9e7 !important; }

.deep-orange.lighten-4 {
  background-color: #ffccbc !important; }

.deep-orange.lighten-3 {
  background-color: #ffab91 !important; }

.deep-orange.lighten-2 {
  background-color: #ff8a65 !important; }

.deep-orange.lighten-1 {
  background-color: #ff7043 !important; }

.deep-orange {
  background-color: #ff5722 !important; }

.deep-orange-text {
  color: #ff5722 !important; }

.rgba-deep-orange-slight,
.rgba-deep-orange-slight:after {
  background-color: rgba(255, 87, 34, 0.1); }

.rgba-deep-orange-light,
.rgba-deep-orange-light:after {
  background-color: rgba(255, 87, 34, 0.3); }

.rgba-deep-orange-strong,
.rgba-deep-orange-strong:after {
  background-color: rgba(255, 87, 34, 0.7); }

.deep-orange.darken-1 {
  background-color: #f4511e !important; }

.deep-orange.darken-2 {
  background-color: #e64a19 !important; }

.deep-orange.darken-3 {
  background-color: #d84315 !important; }

.deep-orange.darken-4 {
  background-color: #bf360c !important; }

.deep-orange.accent-1 {
  background-color: #ff9e80 !important; }

.deep-orange.accent-2 {
  background-color: #ff6e40 !important; }

.deep-orange.accent-3 {
  background-color: #ff3d00 !important; }

.deep-orange.accent-4 {
  background-color: #dd2c00 !important; }

.brown.lighten-5 {
  background-color: #efebe9 !important; }

.brown.lighten-4 {
  background-color: #d7ccc8 !important; }

.brown.lighten-3 {
  background-color: #bcaaa4 !important; }

.brown.lighten-2 {
  background-color: #a1887f !important; }

.brown.lighten-1 {
  background-color: #8d6e63 !important; }

.brown {
  background-color: #795548 !important; }

.brown-text {
  color: #795548 !important; }

.rgba-brown-slight,
.rgba-brown-slight:after {
  background-color: rgba(121, 85, 72, 0.1); }

.rgba-brown-light,
.rgba-brown-light:after {
  background-color: rgba(121, 85, 72, 0.3); }

.rgba-brown-strong,
.rgba-brown-strong:after {
  background-color: rgba(121, 85, 72, 0.7); }

.brown.darken-1 {
  background-color: #6d4c41 !important; }

.brown.darken-2 {
  background-color: #5d4037 !important; }

.brown.darken-3 {
  background-color: #4e342e !important; }

.brown.darken-4 {
  background-color: #3e2723 !important; }

.blue-grey.lighten-5 {
  background-color: #eceff1 !important; }

.blue-grey.lighten-4 {
  background-color: #cfd8dc !important; }

.blue-grey.lighten-3 {
  background-color: #b0bec5 !important; }

.blue-grey.lighten-2 {
  background-color: #90a4ae !important; }

.blue-grey.lighten-1 {
  background-color: #78909c !important; }

.blue-grey {
  background-color: #607d8b !important; }

.blue-grey-text {
  color: #607d8b !important; }

.rgba-blue-grey-slight,
.rgba-blue-grey-slight:after {
  background-color: rgba(96, 125, 139, 0.1); }

.rgba-blue-grey-light,
.rgba-blue-grey-light:after {
  background-color: rgba(96, 125, 139, 0.3); }

.rgba-blue-grey-strong,
.rgba-blue-grey-strong:after {
  background-color: rgba(96, 125, 139, 0.7); }

.blue-grey.darken-1 {
  background-color: #546e7a !important; }

.blue-grey.darken-2 {
  background-color: #455a64 !important; }

.blue-grey.darken-3 {
  background-color: #37474f !important; }

.blue-grey.darken-4 {
  background-color: #263238 !important; }

.grey.lighten-5 {
  background-color: #fafafa !important; }

.grey.lighten-4 {
  background-color: #f5f5f5 !important; }

.grey.lighten-3 {
  background-color: #eeeeee !important; }

.grey.lighten-2 {
  background-color: #e0e0e0 !important; }

.grey.lighten-1 {
  background-color: #bdbdbd !important; }

.grey {
  background-color: #9e9e9e !important; }

.grey-text {
  color: #9e9e9e !important; }

.rgba-grey-slight,
.rgba-grey-slight:after {
  background-color: rgba(158, 158, 158, 0.1); }

.rgba-grey-light,
.rgba-grey-light:after {
  background-color: rgba(158, 158, 158, 0.3); }

.rgba-grey-strong,
.rgba-grey-strong:after {
  background-color: rgba(158, 158, 158, 0.7); }

.grey.darken-1 {
  background-color: #757575 !important; }

.grey.darken-2 {
  background-color: #616161 !important; }

.grey.darken-3 {
  background-color: #424242 !important; }

.grey.darken-4 {
  background-color: #212121 !important; }

.black {
  background-color: #000 !important; }

.black-text, .btn.btn-link {
  color: #000 !important; }

.rgba-black-slight,
.rgba-black-slight:after {
  background-color: rgba(0, 0, 0, 0.1); }

.rgba-black-light,
.rgba-black-light:after {
  background-color: rgba(0, 0, 0, 0.3); }

.rgba-black-strong,
.rgba-black-strong:after {
  background-color: rgba(0, 0, 0, 0.7); }

.white {
  background-color: #fff !important; }

.white-text {
  color: #fff !important; }

.rgba-white-slight,
.rgba-white-slight:after {
  background-color: rgba(255, 255, 255, 0.1); }

.rgba-white-light,
.rgba-white-light:after {
  background-color: rgba(255, 255, 255, 0.3); }

.rgba-white-strong,
.rgba-white-strong:after {
  background-color: rgba(255, 255, 255, 0.7); }

.rgba-stylish-slight {
  background-color: rgba(62, 69, 81, 0.1); }

.rgba-stylish-light {
  background-color: rgba(62, 69, 81, 0.3); }

.rgba-stylish-strong {
  background-color: rgba(62, 69, 81, 0.7); }

.primary-color, ul.stepper li.active a .circle, ul.stepper li.completed a .circle {
  background-color: #4285f4 !important; }

.primary-color-dark {
  background-color: #0d47a1 !important; }

.secondary-color {
  background-color: #aa66cc !important; }

.secondary-color-dark {
  background-color: #9933cc !important; }

.default-color {
  background-color: #2bbbad !important; }

.default-color-dark {
  background-color: #00695c !important; }

.info-color {
  background-color: #33b5e5 !important; }

.info-color-dark {
  background-color: #0099cc !important; }

.success-color {
  background-color: #00c851 !important; }

.success-color-dark {
  background-color: #007e33 !important; }

.warning-color {
  background-color: #ffbb33 !important; }

.warning-color-dark {
  background-color: #ff8800 !important; }

.danger-color, ul.stepper li.warning a .circle {
  background-color: #ff3547 !important; }

.danger-color-dark {
  background-color: #cc0000 !important; }

.elegant-color {
  background-color: #2e2e2e !important; }

.elegant-color-dark {
  background-color: #212121 !important; }

.stylish-color {
  background-color: #4b515d !important; }

.stylish-color-dark {
  background-color: #3e4551 !important; }

.unique-color {
  background-color: #3f729b !important; }

.unique-color-dark {
  background-color: #1c2331 !important; }

.special-color {
  background-color: #37474f !important; }

.special-color-dark {
  background-color: #263238 !important; }

.purple-gradient {
  background: -webkit-linear-gradient(50deg, #ff6ec4, #7873f5) !important;
  background: -o-linear-gradient(50deg, #ff6ec4, #7873f5) !important;
  background: linear-gradient(40deg, #ff6ec4, #7873f5) !important; }

.peach-gradient {
  background: -webkit-linear-gradient(50deg, #FFD86F, #FC6262) !important;
  background: -o-linear-gradient(50deg, #FFD86F, #FC6262) !important;
  background: linear-gradient(40deg, #FFD86F, #FC6262) !important; }

.aqua-gradient {
  background: -webkit-linear-gradient(50deg, #2096ff, #05ffa3) !important;
  background: -o-linear-gradient(50deg, #2096ff, #05ffa3) !important;
  background: linear-gradient(40deg, #2096ff, #05ffa3) !important; }

.blue-gradient {
  background: -webkit-linear-gradient(50deg, #45cafc, #303f9f) !important;
  background: -o-linear-gradient(50deg, #45cafc, #303f9f) !important;
  background: linear-gradient(40deg, #45cafc, #303f9f) !important; }

.purple-gradient-rgba {
  background: -webkit-linear-gradient(50deg, rgba(255, 110, 196, 0.9), rgba(120, 115, 245, 0.9)) !important;
  background: -o-linear-gradient(50deg, rgba(255, 110, 196, 0.9), rgba(120, 115, 245, 0.9)) !important;
  background: linear-gradient(40deg, rgba(255, 110, 196, 0.9), rgba(120, 115, 245, 0.9)) !important; }

.peach-gradient-rgba {
  background: -webkit-linear-gradient(50deg, rgba(255, 216, 111, 0.9), rgba(252, 98, 98, 0.9)) !important;
  background: -o-linear-gradient(50deg, rgba(255, 216, 111, 0.9), rgba(252, 98, 98, 0.9)) !important;
  background: linear-gradient(40deg, rgba(255, 216, 111, 0.9), rgba(252, 98, 98, 0.9)) !important; }

.aqua-gradient-rgba {
  background: -webkit-linear-gradient(50deg, rgba(32, 150, 255, 0.9), rgba(5, 255, 163, 0.9)) !important;
  background: -o-linear-gradient(50deg, rgba(32, 150, 255, 0.9), rgba(5, 255, 163, 0.9)) !important;
  background: linear-gradient(40deg, rgba(32, 150, 255, 0.9), rgba(5, 255, 163, 0.9)) !important; }

.blue-gradient-rgba {
  background: -webkit-linear-gradient(50deg, rgba(69, 202, 252, 0.9), rgba(48, 63, 159, 0.9)) !important;
  background: -o-linear-gradient(50deg, rgba(69, 202, 252, 0.9), rgba(48, 63, 159, 0.9)) !important;
  background: linear-gradient(40deg, rgba(69, 202, 252, 0.9), rgba(48, 63, 159, 0.9)) !important; }

/*!
 * Waves v0.7.6
 * http://fian.my.id/Waves
 *
 * Copyright 2014-2018 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE */
.waves-effect {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }
  .waves-effect .waves-ripple {
    position: absolute;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    background: -webkit-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
    background: -o-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
    background: radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    -webkit-transition-property: -webkit-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    -o-transition-property: transform, opacity;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transform: scale(0) translate(0, 0);
    -ms-transform: scale(0) translate(0, 0);
    transform: scale(0) translate(0, 0);
    pointer-events: none; }
  .waves-effect.waves-light .waves-ripple {
    background: rgba(255, 255, 255, 0.4);
    background: -webkit-radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
    background: -o-radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
    background: radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%); }
  .waves-effect.waves-classic .waves-ripple {
    background: rgba(0, 0, 0, 0.2); }
  .waves-effect.waves-classic.waves-light .waves-ripple {
    background: rgba(255, 255, 255, 0.4); }

.waves-notransition {
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important; }

.waves-button,
.waves-circle {
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%); }

.waves-button,
.waves-button:hover,
.waves-button:visited,
.waves-button-input {
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  outline: none;
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  z-index: 1; }

.waves-button {
  padding: 0.85em 1.1em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em; }

.waves-button-input {
  margin: 0;
  padding: 0.85em 1.1em; }

.waves-input-wrapper {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em; }
  .waves-input-wrapper.waves-button {
    padding: 0; }
  .waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1; }

.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.waves-float {
  -webkit-mask-image: none;
  -webkit-box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms; }
  .waves-float:active {
    -webkit-box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3); }

.waves-block {
  display: block; }

a.waves-effect, a.waves-light {
  display: inline-block; }


/* sub-title */
.content-header {
  position: relative;
  padding: 15px 5px 0 5px;
  margin-top: -80px;
  margin-bottom: 15px;
  width: 100%;
}
.content-header > h1 {
  margin: 0;
  font-size: 28px;
}
.content-header > h1 > small {
  font-size: 15px;
  display: inline-block;
  padding-left: 4px;
  font-weight: 300;
}
.content-header > .breadcrumb {
  float: right;
  background: transparent;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  padding: 7px 5px;
  position: absolute;
  top: 15px;
  right: 10px;
  border-radius: 2px;
}
.content-header > .breadcrumb > li > a {
  color: #444;
  text-decoration: none;
  display: inline-block;
}
.content-header > .breadcrumb > li > a > .fa,
.content-header > .breadcrumb > li > a > .glyphicon,
.content-header > .breadcrumb > li > a > .ion {
  margin-right: 5px;
}
.content-header > .breadcrumb > li + li:before {
  content: '>\00a0';
}
@media (max-width: 991px) {
    .content-header {
      position: relative;
      margin-top: -95px;
        margin-bottom: 15px;
    }
  .content-header > .breadcrumb {
    position: relative;
    margin-top: 5px;
    top: 0;
    right: 0;
    float: none;
    background: #d2d6de;
    padding-left: 10px;
  }
  .content-header > .breadcrumb li:before {
    color: #97a0b3;
  }
}

/* left top details */
#ff-text
{
    color: white;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
}
#ff-logo
{
    width: 50px;
    height: 50px;
}

/* 
*
* right top details 
* ------------------- */
#fa-user-icon
{
  border: 1px solid #b3b3b3;
  background-color: #fff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  padding: 7px;
  position: relative; 
  text-align: center;
}
#fa-user-icon i
{
  vertical-align: middle;
  line-height: 30px;
}

/*
*
* Job
* ----------------- */

/* detaails modal */
.duration_posted
{
  margin-left: 6.5em;
}
@media(max-width:360px)
{
  .duration_posted
  {
    margin-left: 1px;
  }
}

@media(max-width:512px)
{
  .duration_posted
  {
    margin-left: 2em;
  }
}

/* job management */
.more-details-panel-actions .more-details-caret {
    animation-name: colorchange;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes colorchange {
    0% {color: #b4b4b4;}
    100% {color: #d81b60;}
}
.alert-sm {
  padding: 5px;
  border-radius: 3px;
}
/*
a.DTTT_button_xls span { 
  color: #fff !important;
}

a.DTTT_button_xls {
  border-radius: 2px;
  outline: none;
  border: 1px solid #fff;
  background-color: #d81b60; 
}

a.DTTT_button_xls:hover,
a.DTTT_button_xls:hover span { 
  background-color: #d81b60; 
  color: #fff !important;
}

a.DTTT_button_xls:hover {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 3px 13px 0 rgba(0,0,0,0.19);
  transition: all 1s ease;
}
*/


.DTTT_btn_xls,
.DTTT_btn_xls span,
.DTTT_btn_xls:hover,
.DTTT_btn_xls:hover span { 
  color: #fff !important;
}

.DTTT_btn_xls:hover {
  background-color: #d81b60;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 3px 13px 0 rgba(0,0,0,0.19);
  transition: all 1s ease;
}

/*
*
* Advert 
* ----------------- */
#loadAdvertApprovalDiv
{
    color: #262626;
}
.approvalIcons
{
    font-size: 1.5em;
}
.advert-containerWrapper {
  width: 100%;
}
.advert-containerWrapper h3
{
  text-transform: capitalize;
  color: #f44336;
  font-family: 'Offside', cursive;
  font-size: 1.7em;
  margin-bottom: .3em;
}
.advert-containerWrapper ul {
  list-style: none;
}
.advert-containerWrapper ul li {
  padding-bottom: 5px;
}
#mainBannerView img {
  width: 100%;
  height: auto;
}
.bannerThumbNails img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  border: 1px solid #D1CFCF;
}

#advert-description {
  text-align: justify;
}
.stat_wrapper a {
  font-size: 12px;
  font-family: 'Offside', cursive;
}
#backtoAdvertApprovaltblBtn,
#backtoAdvertApprovaltblBtn:visited,
#backtoAdvertApprovaltblBtn:hover,
#backtoAdvertApprovaltblBtn:active
{
    text-decoration: none;
    color: #fff !important;
}
/* -- >> advert mgmt << --- */
.sticky-group {
  position: fixed;
  top: 0;
  width: 100%;
}
.data-admin-approved,
.data-admin-approved:hover,
.data-admin-approved:focus
 {
  cursor: pointer;
  text-decoration: none;
}
.data-admin-cancelled,
.data-admin-cancelled:hover,
.data-admin-cancelled:focus
 {
  cursor: pointer;
  text-decoration: none;
  /*text-decoration: underline;
  text-decoration-color: #0088cc;
  -moz-text-decoration-color: #0088cc;
  text-decoration-style: dashed;
  -moz-text-decoration-style: dashed;
  */
  border-bottom: dashed 1px #0088cc;
}
#btnUndoAdvertCancel,
#btnUndoAdvertCancel:hover,
#btnUndoAdvertCancel:active {
  text-decoration: none;
  color: #fff;  
}
#marquee_trending_adverts {
  overflow: hidden;
}
.trending-ads-link,
.trending-ads-link:hover {
  text-decoration: none;
  cursor: default;
}

/*
*
* Reports 
* ----------------- */
.form-group-jobs-class ,
.form-group-adverts-class {
  visibility: hidden;
}

/*
*
* Misc
------------- */
.responsive {
  width: 100% !important;
}

.holdCenter{

width:75%;
float:left;
border-right:1px solid teal;
padding-right:0.5em;
box-sizing:border-box;
}
.holdRight{
	
	width:23%;
	right: 0;
	height:100%;
	position:fixed;
	font-size:1.2vw;
	/* background-color:#FAFAFA;
	background:transparent; */

}


#zoomOutIn.modal.fade .modal-dialog {
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   transform: scale(1.1);
   top: 120px;
   opacity: 0;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   transition: all 0.3s;
}

#zoomOutIn.modal.fade.in .modal-dialog {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transform: translate3d(0, -120px, 0);
   transform: translate3d(0, -120px, 0);
   opacity: 8;
}

/* Modal effect 6  niceZoomIn */



#zoomOutIn1.modal.fade .modal-dialog {
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   transform: scale(1.1);
   top: 120px;
   opacity: 0;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   transition: all 0.3s;
}

#zoomOutIn1.modal.fade.in .modal-dialog {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transform: translate3d(0, -120px, 0);
   transform: translate3d(0, -120px, 0);
   opacity: 8;
}



#zoomOutIn2.modal.fade .modal-dialog {
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   transform: scale(1.1);
   top: 120px;
   opacity: 0;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   transition: all 0.3s;
}

#zoomOutIn2.modal.fade.in .modal-dialog {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transform: translate3d(0, -120px, 0);
   transform: translate3d(0, -120px, 0);
   opacity: 8;
}


#zoomOutIn3.modal.fade .modal-dialog {
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   transform: scale(1.1);
   top: 120px;
   opacity: 0;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   transition: all 0.3s;
}

#zoomOutIn3.modal.fade.in .modal-dialog {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transform: translate3d(0, -120px, 0);
   transform: translate3d(0, -120px, 0);
   opacity: 8;
}


#zoomOutIn4.modal.fade .modal-dialog {
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   transform: scale(1.1);
   top: 120px;
   opacity: 0;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   transition: all 0.3s;
}

#zoomOutIn4.modal.fade.in .modal-dialog {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transform: translate3d(0, -120px, 0);
   transform: translate3d(0, -120px, 0);
   opacity: 8;
}


#zoomOutIn5.modal.fade .modal-dialog {
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   transform: scale(1.1);
   top: 120px;
   opacity: 0;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   transition: all 0.3s;
}

#zoomOutIn5.modal.fade.in .modal-dialog {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transform: translate3d(0, -120px, 0);
   transform: translate3d(0, -120px, 0);
   opacity: 8;
}


#zoomOutIn6.modal.fade .modal-dialog {
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   transform: scale(1.1);
   top: 120px;
   opacity: 0;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   transition: all 0.3s;
}

#zoomOutIn6.modal.fade.in .modal-dialog {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transform: translate3d(0, -120px, 0);
   transform: translate3d(0, -120px, 0);
   opacity: 8;
}

/* modal for viewing job details */

#zoomOutIn7.modal.fade .modal-dialog {
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   transform: scale(1.1);
   top: 120px;
   opacity: 0;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   transition: all 0.3s;
}

#zoomOutIn7.modal.fade.in .modal-dialog {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transform: translate3d(0, -120px, 0);
   transform: translate3d(0, -120px, 0);
   opacity: 8;
}
/* end of modal for viewing job details */

/* modal for posting advert */

#zoomOutIn8.modal.fade .modal-dialog {
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   transform: scale(1.1);
   top: 120px;
   opacity: 0;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   transition: all 0.3s;
}

#zoomOutIn8.modal.fade.in .modal-dialog {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transform: translate3d(0, -120px, 0);
   transform: translate3d(0, -120px, 0);
   opacity: 8;
}
/* end of modal for posting advert */


/* modal for zooming advert image*/

#zoomOutIn9.modal.fade .modal-dialog {
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   transform: scale(1.1);
   top: 120px;
   opacity: 0;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   transition: all 0.3s;
}

#zoomOutIn9.modal.fade.in .modal-dialog {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transform: translate3d(0, -120px, 0);
   transform: translate3d(0, -120px, 0);
   opacity: 8;
}
/* end of modal for zooming advert image */



/* modal for editing fs satff*/

#zoomOutIn10.modal.fade .modal-dialog {
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   transform: scale(1.1);
   top: 120px;
   opacity: 0;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   transition: all 0.3s;
}

#zoomOutIn10.modal.fade.in .modal-dialog {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transform: translate3d(0, -120px, 0);
   transform: translate3d(0, -120px, 0);
   opacity: 8;
}
/* end of modal for editing fs satff*/


/* modal for viewing industry summary*/

#zoomOutInM3.modal.fade .modal-dialog {
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   transform: scale(1.1);
   top: 120px;
   opacity: 0;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   transition: all 0.3s;
   width:60%;
}

#zoomOutInM3.modal.fade.in .modal-dialog {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transform: translate3d(0, -120px, 0);
   transform: translate3d(0, -120px, 0);
   opacity: 8;
}
/* end of modal*/

#niceZoomIn.modal.fade .modal-dialog {
   top: 100px;
   -moz-transform: scale(1) rotate(0deg) translateX(2px) translateY(20px);
   -webkit-transform: scale(1) rotate(0deg) translateX(2px) translateY(20px);
   -o-transform: scale(1) rotate(0deg) translateX(2px) translateY(20px);
   -ms-transform: scale(1) rotate(0deg) translateX(2px) translateY(20px);
   transform: scale(1) rotate(0deg) translateX(2px) translateY(20px);
}

#niceZoomIn.modal.fade.in .modal-dialog {
   -moz-transform: scale(1.1) rotate(12deg) translateX(2px) translateY(20px);
   -webkit-transform: scale(1.1) rotate(12deg) translateX(2px) translateY(20px);
   -o-transform: scale(1.1) rotate(12deg) translateX(2px) translateY(20px);
   -ms-transform: scale(1.1) rotate(12deg) translateX(2px) translateY(20px);
   transform: scale(1.1) rotate(12deg) translateX(2px) translateY(20px);
   opacity: 1;
}



/* styling for such button */


/* search box */
/*-------------------------------------*/
.cf:before, .cf:after{
content:"";
display:table;
}
.cf:after{
clear:both;
}
.cf{
zoom:1;
}
/*-------------------------------------*/

.form-wrapper-2 {
width: 100%;
padding: 15px;
background: #E3F2FD;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
-moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}
.form-wrapper-2 input {
width: 85.6%;
height: 40px;
padding: 10px 5px;
float: left;
font: bold 15px 'Raleway', sans-serif;
border: 0;
background: #FFF;
-moz-border-radius: 3px 0 0 3px;
-webkit-border-radius: 3px 0 0 3px;
border-radius: 3px 0 0 3px;
}
.form-wrapper-2 input:focus {
outline: 0;
background: #fff;
-moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
-webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
.form-wrapper-2 input::-webkit-input-placeholder {
color: #999;
font-weight: normal;
font-style: italic;
}
.form-wrapper-2 input:-moz-placeholder {
color: #999;
font-weight: normal;
font-style: italic;
}
.form-wrapper-2 input:-ms-input-placeholder {
color: #999;
font-weight: normal;
font-style: italic;
}
.form-wrapper-2 button {
overflow: visible;
position: relative;
float: right;
border: 0;
padding: 0;
cursor: pointer;
height: 40px;
width: 14.4%;
font: bold 15px/40px 'Raleway', sans-serif;
color: #fff;
text-transform: uppercase;
background: #D88F3C;
-moz-border-radius: 0 3px 3px 0;
-webkit-border-radius: 0 3px 3px 0;
border-radius: 0 3px 3px 0;
text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
font-size:1.2vw;
}
.form-wrapper-2 button:hover{
background: #FA8807;
}
.form-wrapper-2 button:active,
.form-wrapper-2 button:focus{
background: #009688;
}
.form-wrapper-2 button:before {
content: '';
position: absolute;
border-width: 8px 8px 8px 0;
border-style: solid solid solid none;
border-color: transparent #D88F3C transparent;
top: 12px;
left: -6px;
}
.form-wrapper-2 button:hover:before{
border-right-color: #FA8807;
}
.form-wrapper-2 button:focus:before{
border-right-color: #c42f2f;
}
.form-wrapper-2 button::-moz-focus-inner {
border: 0;
padding: 0;
}


/* css for div holding all insdustries in FS */


.holdIdustry{
	width:100%;
	height:300px;

}



.dropdown-menu {
	min-width: 100px;
	font-family:constantia;
}
.dropdown-menu.columns-2 {
	min-width: 400px;
}
.dropdown-menu.columns-3 {
	min-width: 600px;
}
.dropdown-menu li a {
	padding: 5px 15px;
	font-weight: 300;
}
.multi-column-dropdown {
	list-style: none;
  margin: 0px;
  padding: 0px;
}
.multi-column-dropdown li a {
	display: block;
	clear: both;
	line-height: 1.428571429;
	color: #333;
	white-space: normal;
}
.multi-column-dropdown li a:hover {
	text-decoration: none;
	color: #FFF;
	background-color: #999;
}
 
@media (max-width: 767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
}



#toast {
    visibility: hidden;
    max-width: 50px;
    height: 50px;
    /*margin-left: -125px;*/
    margin: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;

    position: fixed;
    z-index: 1;
    left: 0;right:0;
    bottom: 30px;
    font-size: 17px;
    white-space: nowrap;
	display:none;
}
#toast #img{
	width: 50px;
	height: 50px;
    
    float: left;
    
    padding-top: 16px;
    padding-bottom: 16px;
    
    box-sizing: border-box;

    
    background-color: #111;
    color: #fff;
}
#toast #desc{

    
    color: #fff;
   
    padding: 16px;
    
    overflow: hidden;
	white-space: nowrap;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes expand {
    from {min-width: 50px} 
    to {min-width: 350px}
}

@keyframes expand {
    from {min-width: 50px}
    to {min-width: 350px}
}
@-webkit-keyframes stay {
    from {min-width: 350px} 
    to {min-width: 350px}
}

@keyframes stay {
    from {min-width: 350px}
    to {min-width: 350px}
}
@-webkit-keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 60px; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 60px; opacity: 0;}
}