@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);
/*
Author: coderscoven
Added: 10 April, 19
*/

/*
 * Component: fonts
 * -----------------
 */
@font-face
{	
	font-family:'Source Sans Pro';
	font-style:normal;
	font-weight:400;
	src: url('fonts/source-sans-pro-v10-latin-regular.eot');/*IE9 Compat Modes*/
	src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
		url('fonts/source-sans-pro-v10-latin-regular.eot?#iefix')format('embedded-opentype'),/* IE6-IE8*/
		url('fonts/source-sans-pro-v10-latin-regular.woff2')format('woff2'),/*Super Modern Browsers*/
		url('fonts/source-sans-pro-v10-latin-regular.woff')format('woff'),/*Modern Browsers*/
		url('fonts/source-sans-pro-v10-latin-regular.ttf')format('truetype'),/*Safari, Android, IOS*/
		url('fonts/source-sans-pro-v10-latin-regular.svg#SourceSansPro')format('svg');/*legacy IOS*/
}

.fa-2c {
  font-size: 1.2em;
  padding-left: 5px;
}
/*-- to-top --*/
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  right: 1%;
  overflow: hidden;
  z-index: 999; 
  width: 32px;
  height: 32px;
  border: none;
  text-indent: 100%;
  background: url("../images/cycle.png") no-repeat 0px 0px;
}
#toTopHover {
  width: 32px;
  height: 32px;
  display: block;
  overflow: hidden;
  float: right;
  opacity: 0;
  -moz-opacity: 0;
}
/*-- //to-top --*/

/*
*
* title
---------- */

.x_title h2,
.x_title h3,
.page-title .title_left h3 {
    color: #404b59;
}


/*
 * Component: color
 * -----------------
 */

.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black,
.bg-red-active,
.bg-yellow-active,
.bg-aqua-active,
.bg-blue-active,
.bg-light-blue-active,
.bg-green-active,
.bg-navy-active,
.bg-teal-active,
.bg-olive-active,
.bg-lime-active,
.bg-orange-active,
.bg-fuchsia-active,
.bg-purple-active,
.bg-maroon-active,
.bg-black-active,
.callout.callout-danger,
.callout.callout-warning,
.callout.callout-info,
.callout.callout-success,
.alert-success,
.alert-danger,
.alert-error,
.alert-warning,
.alert-info,
.label-danger,
.label-info,
.label-warning,
.label-primary,
.label-success,
.modal-primary .modal-body,
.modal-primary .modal-header,
.modal-primary .modal-footer,
.modal-warning .modal-body,
.modal-warning .modal-header,
.modal-warning .modal-footer,
.modal-info .modal-body,
.modal-info .modal-header,
.modal-info .modal-footer,
.modal-success .modal-body,
.modal-success .modal-header,
.modal-success .modal-footer,
.modal-danger .modal-body,
.modal-danger .modal-header,
.modal-danger .modal-footer {
  color: #fff !important;
}


/*
 * Component: background color
 * ---------------------------
 */
.bg-navy {
  background-color: #001f3f;
}
.bg-teal {
  background-color: #39cccc;
}
.bg-olive {
  background-color: #3d9970;
}
.bg-lime {
  background-color: #01ff70;
}
.bg-orange {
  background-color: #ff851b;
}
.bg-fuchsia {
  background-color: #f012be;
}
.bg-purple {
  background-color: #605ca8;
}
.bg-maroon {
  background-color: #d81b60;
}
.bg-red {
  background-color: #dd4b39;
}
.bg-black {
  background-color: #111111;
}
.bg-blue {
  background-color: #0073b7;
}



/*
 * Component: font weight
 * ----------------------
 */
.hr_font_weight_300 {
  font-weight: 300;
}
.hr_font_weight_400 {
  font-weight: 400;
}
.hr_font_weight_500 {
  font-weight: 500;
}
.hr_font_weight_600 {
  font-weight: 600;
}
.hr_font_weight_700 {
  font-weight: 700;
}
.hr_font_weight_800 {
  font-weight: 800;
}

/*
 * Component: text color
 * ---------------------
 */
.text-white
{
  color: #ffffff;
}
.text-red {
  color: #dd4b39;
}
.text-yellow {
  color: #f39c12;
}
.text-aqua {
  color: #00c0ef;
}
.text-blue {
  color: #0073b7;
}
.text-black {
  color: #111111;
}
.text-light-blue {
  color: #3c8dbc;
}
.text-green {
  color: #00a65a;
}
.text-gray {
  color: #d2d6de;
}
.text-navy {
  color: #001f3f;
}
.text-teal {
  color: #39cccc;
}
.text-olive {
  color: #3d9970;
}
.text-lime {
  color: #01ff70;
}
.text-orange {
  color: #ff851b;
}
.text-fuchsia {
  color: #f012be;
}
.text-purple {
  color: #605ca8;
}
.text-maroon {
  color: #d81b60;
}
.link-muted {
  color: #7a869d;
}
.text-white {
    color: #ffffff;
}
.text-bold{
  font-weight: 700;
}
.text-red {
  color: #dd4b39;
}
.text-blue-dark {
  color: #353f4b;
}
.mdb-color-text {
  color: #45526e; 
}


/*
 * margins and paddings
 * --------------------
 */
 .mb-2 {
  margin-bottom: 2px;
 }
 .mb-3 {
  margin-bottom: 3px;
 }
 .mb-4 {
  margin-bottom: 4px;
 }
 .mt-2 {
  margin-top: 2px;
 }
 .mt-3 {
  margin-top: 3px;
 }
 .mt-4 {
  margin-top: 4px;
 }
 .mt-5 {
  margin-top: 5px;
 }
 .mt-6 {
  margin-top: 6px;
 }
 .mt-7 {
  margin-top: 7px;
 }
 .my-2 {
  margin-top: 2px;
  margin-bottom: 2px;
 }
 .my-3 {
  margin-top: 3px;
  margin-bottom: 3px;
 }
 .my-4 {
  margin-top: 4px;
  padding-bottom: 4px;
 }
 .my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
 }

 .p-2 {
  padding: 5px;
 }
 .p-3 {
  padding: 5px;
 }
 .p-4 {
  padding: 5px;
 }
 .p-5 {
  padding: 5px;
 }
 .py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
 }
 .py-6 {
  padding-top: 6px;
  padding-bottom: 6px;
 }
 .py-7 {
  padding-top: 7px;
  padding-bottom: 7px;
 }
 .py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
 }


/*
 * Text size
 * ---------------
 */
.t-10
{
  font-size: 10px;
}
.t-11
{
  font-size: 11px;
}
.t-12
{
  font-size: 12px;
}
.t-13
{
  font-size: 13px;
}
.t-14
{
  font-size: 14px;
}
.t-15
{
  font-size: 15px;
}
.t-16
{
  font-size: 16px;
}
.t-17
{
  font-size: 17px;
}
.t-18
{
  font-size: 18px;
}
.t-19
{
  font-size: 19px;
}
.t-20
{
  font-size: 20px;
}

/*
 * Plugin: Select2
 * ---------------
 */
.select2-container--default.select2-container--focus,
.select2-selection.select2-container--focus,
.select2-container--default:focus,
.select2-selection:focus,
.select2-container--default:active,
.select2-selection:active {
  outline: none;
}
.select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
  border: 1px solid #d2d6de;
  border-radius: 0;
  padding: 6px 12px;
  height: 34px;
}
.select2-container--default.select2-container--open {
  border-color: #3c8dbc;
}
.select2-dropdown {
  border: 1px solid #d2d6de;
  border-radius: 0;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #3c8dbc;
  color: white;
}
.select2-results__option {
  padding: 6px 12px;
  user-select: none;
  -webkit-user-select: none;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
  padding-right: 0;
  height: auto;
  margin-top: -4px;
}
.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-right: 6px;
  padding-left: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 28px;
  right: 3px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  margin-top: 0;
}
.select2-dropdown .select2-search__field,
.select2-search--inline .select2-search__field {
  border: 1px solid #d2d6de;
}
.select2-dropdown .select2-search__field:focus,
.select2-search--inline .select2-search__field:focus {
  outline: none;
  border: 1px solid #3c8dbc;
}
.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999;
}
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd;
}
.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option[aria-selected=true]:hover {
  color: #444;
}
.select2-container--default .select2-selection--multiple {
  border: 1px solid #d2d6de;
  border-radius: 0;
}
.select2-container--default .select2-selection--multiple:focus {
  border-color: #3c8dbc;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #d2d6de;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #3c8dbc;
  border-color: #367fa9;
  padding: 1px 10px;
  color: #fff;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  margin-right: 5px;
  color: rgba(255, 255, 255, 0.7);
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #fff;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding-right: 10px;
}

/*
 * Component: margin
 * -----------------
 */
.m-0
{
 margin:0px;
}
.m-t-0
{
 margin-top:0px;
}
.m-r-0
{
 margin-right:0px;
}
.m-b-0
{
 margin-bottom:0px;
}
.m-l-0
{
 margin-left:0px;
}
.m-x-0
{
 margin-right:0;margin-left:0px;
}
.m-y-0
{
 margin-top:0;margin-bottom:0px;
}
.m-2
{
 margin:2px;
}
.m-t-2
{
 margin-top:2px;
}
.m-r-2
{
 margin-right:2px;
}
.m-b-2
{
 margin-bottom:2px;
}
.m-l-2
{
 margin-left:2px;
}
.m-x-2
{
 margin-right:2;margin-left:2px;
}
.m-y-2
{
 margin-top:2;margin-bottom:2px;
}
.m-4
{
 margin:4px;
}
.m-t-4
{
 margin-top:4px;
}
.m-r-4
{
 margin-right:4px;
}
.m-b-4
{
 margin-bottom:4px;
}
.m-l-4
{
 margin-left:4px;
}
.m-x-4
{
 margin-right:4;margin-left:4px;
}
.m-y-4
{
 margin-top:4;margin-bottom:4px;
}
.m-5
{
 margin:5px;
}
.m-t-5
{
 margin-top:5px;
}
.m-r-5
{
 margin-right:5px;
}
.m-b-5
{
 margin-bottom:5px;
}
.m-l-5
{
 margin-left:5px;
}
.m-x-5
{
 margin-right:5;margin-left:5px;
}
.m-y-5
{
 margin-top:5;margin-bottom:5px;
}
.m-8
{
 margin:8px;
}
.m-t-8
{
 margin-top:8px;
}
.m-r-8
{
 margin-right:8px;
}
.m-b-8
{
 margin-bottom:8px;
}
.m-l-8
{
 margin-left:8px;
}
.m-x-8
{
 margin-right:8;margin-left:8px;
}
.m-y-8
{
 margin-top:8;margin-bottom:8px;
}
.m-10
{
 margin:10px;
}
.m-t-10
{
 margin-top:10px;
}
.m-r-10
{
 margin-right:10px;
}
.m-b-10
{
 margin-bottom:10px;
}
.m-l-10
{
 margin-left:10px;
}
.m-x-10
{
 margin-right:10;margin-left:10px;
}
.m-y-10
{
 margin-top:10;margin-bottom:10px;
}
.m-12
{
 margin:12px;
}
.m-t-12
{
 margin-top:12px;
}
.m-r-12
{
 margin-right:12px;
}
.m-b-12
{
 margin-bottom:12px;
}
.m-l-12
{
 margin-left:12px;
}
.m-x-12
{
 margin-right:12;margin-left:12px;
}
.m-y-12
{
 margin-top:12;margin-bottom:12px;
}
.m-15
{
 margin:15px;
}
.m-t-15
{
 margin-top:15px;
}
.m-r-15
{
 margin-right:15px;
}
.m-b-15
{
 margin-bottom:15px;
}
.m-l-15
{
 margin-left:15px;
}
.m-x-15
{
 margin-right:15;margin-left:15px;
}
.m-y-15
{
 margin-top:15;margin-bottom:15px;
}
.m-16
{
 margin:16px;
}
.m-t-16
{
 margin-top:16px;
}
.m-r-16
{
 margin-right:16px;
}
.m-b-16
{
 margin-bottom:16px;
}
.m-l-16
{
 margin-left:16px;
}
.m-x-16
{
 margin-right:16;margin-left:16px;
}
.m-y-16
{
 margin-top:16;margin-bottom:16px;
}
.m-20
{
 margin:20px;
}
.m-t-20
{
 margin-top:20px;
}
.m-r-20
{
 margin-right:20px;
}
.m-b-20
{
 margin-bottom:20px;
}
.m-l-20
{
 margin-left:20px;
}
.m-x-20
{
 margin-right:20;margin-left:20px;
}
.m-y-20
{
 margin-top:20;margin-bottom:20px;
}
.m-24
{
 margin:24px;
}
.m-t-24
{
 margin-top:24px;
}
.m-r-24
{
 margin-right:24px;
}
.m-b-24
{
 margin-bottom:24px;
}
.m-l-24
{
 margin-left:24px;
}
.m-x-24
{
 margin-right:24;margin-left:24px;
}
.m-y-24
{
 margin-top:24;margin-bottom:24px;
}
.m-25
{
 margin:25px;
}
.m-t-25
{
 margin-top:25px;
}
.m-r-25
{
 margin-right:25px;
}
.m-b-25
{
 margin-bottom:25px;
}
.m-l-25
{
 margin-left:25px;
}
.m-x-25
{
 margin-right:25;margin-left:25px;
}
.m-y-25
{
 margin-top:25;margin-bottom:25px;
}
.m-28
{
 margin:28px;
}
.m-t-28
{
 margin-top:28px;
}
.m-r-28
{
 margin-right:28px;
}
.m-b-28
{
 margin-bottom:28px;
}
.m-l-28
{
 margin-left:28px;
}
.m-x-28
{
 margin-right:28;margin-left:28px;
}
.m-y-28
{
 margin-top:28;margin-bottom:28px;
}
.m-30
{
 margin:30px;
}
.m-t-30
{
 margin-top:30px;
}
.m-r-30
{
 margin-right:30px;
}
.m-b-30
{
 margin-bottom:30px;
}
.m-l-30
{
 margin-left:30px;
}
.m-x-30
{
 margin-right:30;margin-left:30px;
}
.m-y-30
{
 margin-top:30;margin-bottom:30px;
}


/*
 * Component: padding
 * -----------------
 */
.p-0
{
 padding:0px;
}
.p-t-0
{
 padding-top:0px;
}
.p-r-0
{
 padding-right:0px;
}
.p-b-0
{
 padding-bottom:0px;
}
.p-l-0
{
 padding-left:0px;
}
.p-x-0
{
 padding-right:0;padding-left:0px;
}
.p-y-0
{
 padding-top:0;padding-bottom:0px;
}
.p-2
{
 padding:2px;
}
.p-t-2
{
 padding-top:2px;
}
.p-r-2
{
 padding-right:2px;
}
.p-b-2
{
 padding-bottom:2px;
}
.p-l-2
{
 padding-left:2px;
}
.p-x-2
{
 padding-right:2;padding-left:2px;
}
.p-y-2
{
 padding-top:2;padding-bottom:2px;
}
.p-4
{
 padding:4px;
}
.p-t-4
{
 padding-top:4px;
}
.p-r-4
{
 padding-right:4px;
}
.p-b-4
{
 padding-bottom:4px;
}
.p-l-4
{
 padding-left:4px;
}
.p-x-4
{
 padding-right:4;padding-left:4px;
}
.p-y-4
{
 padding-top:4;padding-bottom:4px;
}
.p-5
{
 padding:5px;
}
.p-t-5
{
 padding-top:5px;
}
.p-r-5
{
 padding-right:5px;
}
.p-b-5
{
 padding-bottom:5px;
}
.p-l-5
{
 padding-left:5px;
}
.p-x-5
{
 padding-right:5;padding-left:5px;
}
.p-y-5
{
 padding-top:5;padding-bottom:5px;
}
.p-8
{
 padding:8px;
}
.p-t-8
{
 padding-top:8px;
}
.p-r-8
{
 padding-right:8px;
}
.p-b-8
{
 padding-bottom:8px;
}
.p-l-8
{
 padding-left:8px;
}
.p-x-8
{
 padding-right:8;padding-left:8px;
}
.p-y-8
{
 padding-top:8;padding-bottom:8px;
}
.p-10
{
 padding:10px;
}
.p-t-10
{
 padding-top:10px;
}
.p-r-10
{
 padding-right:10px;
}
.p-b-10
{
 padding-bottom:10px;
}
.p-l-10
{
 padding-left:10px;
}
.p-x-10
{
 padding-right:10;padding-left:10px;
}
.p-y-10
{
 padding-top:10;padding-bottom:10px;
}
.p-12
{
 padding:12px;
}
.p-t-12
{
 padding-top:12px;
}
.p-r-12
{
 padding-right:12px;
}
.p-b-12
{
 padding-bottom:12px;
}
.p-l-12
{
 padding-left:12px;
}
.p-x-12
{
 padding-right:12;padding-left:12px;
}
.p-y-12
{
 padding-top:12;padding-bottom:12px;
}
.p-15
{
 padding:15px;
}
.p-t-15
{
 padding-top:15px;
}
.p-r-15
{
 padding-right:15px;
}
.p-b-15
{
 padding-bottom:15px;
}
.p-l-15
{
 padding-left:15px;
}
.p-x-15
{
 padding-right:15;padding-left:15px;
}
.p-y-15
{
 padding-top:15;padding-bottom:15px;
}
.p-16
{
 padding:16px;
}
.p-t-16
{
 padding-top:16px;
}
.p-r-16
{
 padding-right:16px;
}
.p-b-16
{
 padding-bottom:16px;
}
.p-l-16
{
 padding-left:16px;
}
.p-x-16
{
 padding-right:16;padding-left:16px;
}
.p-y-16
{
 padding-top:16;padding-bottom:16px;
}
.p-20
{
 padding:20px;
}
.p-t-20
{
 padding-top:20px;
}
.p-r-20
{
 padding-right:20px;
}
.p-b-20
{
 padding-bottom:20px;
}
.p-l-20
{
 padding-left:20px;
}
.p-x-20
{
 padding-right:20;padding-left:20px;
}
.p-y-20
{
 padding-top:20;padding-bottom:20px;
}
.p-24
{
 padding:24px;
}
.p-t-24
{
 padding-top:24px;
}
.p-r-24
{
 padding-right:24px;
}
.p-b-24
{
 padding-bottom:24px;
}
.p-l-24
{
 padding-left:24px;
}
.p-x-24
{
 padding-right:24;padding-left:24px;
}
.p-y-24
{
 padding-top:24;padding-bottom:24px;
}
.p-25
{
 padding:25px;
}
.p-t-25
{
 padding-top:25px;
}
.p-r-25
{
 padding-right:25px;
}
.p-b-25
{
 padding-bottom:25px;
}
.p-l-25
{
 padding-left:25px;
}
.p-x-25
{
 padding-right:25;padding-left:25px;
}
.p-y-25
{
 padding-top:25;padding-bottom:25px;
}
.p-28
{
 padding:28px;
}
.p-t-28
{
 padding-top:28px;
}
.p-r-28
{
 padding-right:28px;
}
.p-b-28
{
 padding-bottom:28px;
}
.p-l-28
{
 padding-left:28px;
}
.p-x-28
{
 padding-right:28;padding-left:28px;
}
.p-y-28
{
 padding-top:28;padding-bottom:28px;
}
.p-30
{
 padding:30px;
}
.p-t-30
{
 padding-top:30px;
}
.p-r-30
{
 padding-right:30px;
}
.p-b-30
{
 padding-bottom:30px;
}
.p-l-30
{
 padding-left:30px;
}
.p-x-30
{
 padding-right:30;padding-left:30px;
}
.p-y-30
{
 padding-top:30;padding-bottom:30px;
}

/*
 * Component: text
 * -----------------
 */
.text-lowercase {
    text-transform:lowercase;
}
.text-uppercase {
    text-transform:uppercase;
}
.text-capitalize {
    text-transform:capitalize;
}
.font-weight-normal {
    font-weight:normal;
}
.font-weight-bold {
    font-weight:bold;
}
.font-weight-bolder {
    font-weight: bolder;
}
.font-weight-400 {
    font-weight: 400;
}
.font-weight-700 {
    font-weight: 700;
}
.font-weight-800 {
    font-weight: 800;
}
.font-weight-900 {
    font-weight: 900;
}
.font-italic {
    font-style:italic;
}
.text-underline {
    text-decoration: underline;
}

/*
 * Component: Form - bootstrap overide
 * -----------------------------------
 */
.form-control {
  border-radius: 0;
  box-shadow: none;
  border-color: #d2d6de;
}
.form-control:focus {
  border-color: #3c8dbc;
  box-shadow: none;
}
.form-control::-moz-placeholder,
.form-control:-ms-input-placeholder,
.form-control::-webkit-input-placeholder {
  color: #bbb;
  opacity: 1;
}

/*
 * Component: Button - bootstrap overide
 * -------------------------------------
 */
.btn {
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid transparent;
}

.btn.btn-flat {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 1px;
}
.c_btn 
{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.c_btnOne 
{
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.c_btnOne:hover 
{
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 2px 5px 0 rgba(0,128,0,0.24), 0 5px 10px 0 rgba(0,128,0,0.19);
}

.c_btnTwo 
{
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.c_btnTwo:hover 
{
    background-color: #008CBA;
    color: white;
}

.c_btnThree 
{
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
}

.c_btnThree:hover 
{
    background-color: #f44336;
    color: white;
}

.c_btnFour 
{
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.c_btnFour:hover 
{
  background-color: #e7e7e7;
}

.c_btnFive 
{
    background-color: white;
    color: black;
    border: 2px solid #555555;}

.c_btnFive:hover 
{
    background-color: #555555;
    color: white;
}

.c_btnSix 
{
    background-color: white; 
    color: black; 
    border: 2px solid #3498DB;
}

.c_btnSix:hover 
{
    background-color: #3498DB;
    color: white;
    box-shadow: 0 2px 5px 0 rgba(0,128,0,0.24), 0 5px 10px 0 rgba(0,128,0,0.19);
  -webkit-transition: all 0.4s ease, all 0.4s ease;
  -moz-transition: all 0.4s ease, all 0.4s ease;
  -o-transition: all 0.4s ease, all 0.4s ease;
  transition: all 0.4s ease, all 0.4s ease;
}

.c_btnSeven 
{
    background-color: white; 
    color: black; 
    border: 2px solid #9B59B6;
}

.c_btnSeven:hover 
{
    background-color: #9B59B6;
    color: white;
    box-shadow: 0 2px 5px 0 rgba(0,128,0,0.24), 0 5px 10px 0 rgba(0,128,0,0.19);
  -webkit-transition: all 0.4s ease, all 0.4s ease;
  -moz-transition: all 0.4s ease, all 0.4s ease;
  -o-transition: all 0.4s ease, all 0.4s ease;
  transition: all 0.4s ease, all 0.4s ease;
}

.c_btnEight
{
    background-color: white; 
    color: black; 
    border: 2px solid #3d9970;
}

.c_btnEight:hover 
{
    background-color: #3d9970;
    color: white;
    box-shadow: 0 2px 5px 0 rgba(0,128,0,0.24), 0 5px 10px 0 rgba(0,128,0,0.19);
  -webkit-transition: all 0.4s ease, all 0.4s ease;
  -moz-transition: all 0.4s ease, all 0.4s ease;
  -o-transition: all 0.4s ease, all 0.4s ease;
  transition: all 0.4s ease, all 0.4s ease;
}

/*
 * Component: misc
 * -----------------
 */

 .item_display_none
 {
    display: none;
 }

/* top title */
#center_title:hover, .logo a:hover
{
    /*
    -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
	transition: 300ms;
    color: red;
    */
    text-decoration: none;
    
}
/* contact us */
.address_blockline {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.address_blockline ul {
    margin: 0;
    padding: 0;
    text-align: center;
}
.address_blockline ul li {
    list-style: none;
    display: inline;
    padding-left: 13px;
    font-size: 17px;
    color: #555;
}

.address_blockline ul li i {
    font-size: 20px;
    color: purple;
}

.address_blockline ul li:hover {
    cursor: pointer;
    /*
    background: #f39c12;
    border: 1px solid #f39c12;
    color: #fff
        */
}

/* location section */
.ourlocation, .ourlocation .container
{
    width: 100% !important;
    padding-bottom: 70px;
    background: transparent;
}

.ourlocation .section_title h2{
	color: #eaeaea;
}
.ourlocation .section_title p{
	color: #a4a4a4;
}

/* --- adverts and jobs --- */
.jobs_title {
  color: #0288D1;
}
.job_sub_title {
  color: #26C6DA;
}
.post_title {
  color: #00BCD4;
}
.posted_on {
  color: #29B6F6;
}
.adverts_jobs_content
{
  overflow-y: scroll;
  max-height: 400px;
}
.adverts_jobs_content .panel_items
{
 padding: 5px 0;
 border-bottom: 1px solid #d9d9d9;
 margin-bottom: 10px;
}

.adverts_jobs_content .panel_items:hover
{
  /*opacity: .9;
  filter: alpha(opacity=90); *//* For IE8 and earlier */
}

.adverts_jobs_content .panel_items .row img
{
  height: auto;
  width: 100%; /* responsive mode */
}
.adverts_jobs_content .panel_items .row h4
{
  font-weight: 700;
  margin-top: 0 !important;
  margin-bottom: 2px;
  text-align: center;
}
@media (max-width: 991px) {
  
  .adverts_jobs_content .panel_items .row h4
  {
    padding-top: 8px !important;
  }

}
.panel_items .readMoreAdvertsLink:hover {
    -webkit-transition: color 0.3s ease-in-out, width 0.3s ease-in-out !important;
  -moz-transition: color 0.3s ease-in-out, width 0.3s ease-in-out !important;
  -o-transition: color 0.3s ease-in-out, width 0.3s ease-in-out !important;
  transition: color 0.3s ease-in-out, width 0.3s ease-in-out !important;
  /*
  text-decoration: underline !important;
  color: blue !important;
  */
}
.smallActionBtn
{
  background-color: #ffffff;
  border: 1px solid #4CAF50;
  color: #f012be;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;  
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.smallActionBtn:hover {
    background-color: #4CAF50;
    color: white;
}
.adverts_jobs_content .panel_items .row .advert_body
{
  text-align: justify;
  padding: 4px 0;
  color: #556477;
}

/* selected advert details */
.advert-containerWrapper {
  width: 100%;
}
.advert-containerWrapper h3
{
  text-transform: capitalize;
  color: #f44336;
  font-family: 'Offside', cursive;
  font-size: 1.7em;
  margin-bottom: .3em;
}
.advert-containerWrapper ul {
  list-style: none;
}
.advert-containerWrapper ul li {
  padding-bottom: 5px;
}
#mainBannerView img {
  width: 100%;
  height: auto;
}
.bannerThumbNails img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  border: 1px solid #D1CFCF;
}

#advert-description {
  text-align: justify;
}
.stat_wrapper a {
  font-size: 12px;
  font-family: 'Offside', cursive;
}



/*
* messages 
* --------- */

.inbox_light_dark
{
  color: #73879C;
}
.inbox-blue-dark {
    color: #556577;
}
.message_compose
{
  color: #698096;
}
.inbox-body,
.mail_subject {
  font-weight: normal;
}
/*
.mail_list .right h3
{
  font-size: 16px;
}
.mail_list .right p{
  font-size: 14px;
}
*/
/*
.mail_list .right {
  text-align: left;
}
*/


#load_message_body_div,
.view-mail
{
  font-family: 'Source Sans Pro', sans-serif;
}
.view-mail {
  font-size: 15px;
}
.sender-info {
  font-size: 14px;
}
#messages_wrapper
{
  overflow-y: scroll;
  min-height: 450px;
  max-height: auto;
  font-family: 'Source Sans Pro', sans-serif;
}
#show_mail_messages
{
  margin-top: 5px;
  padding: 8px 0;
  text-align: justify;
}
#sendMessageBtn
{
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: 8px 16px;
  margin: 4px 2px;
}
#sendMessageBtn:hover
{
    background-color: #4CAF50;
    color: white;
}
#toggle_info:hover
{
  cursor: pointer;
}
.ul_load_more_mail_details li
{
  list-style-type: none;
}
#delete_message_btn:hover, #delete_message_btn:focus
{
  text-decoration: none;
  color: maroon;
  background-color: white !important; 
  border: 1px solid maroon;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

/* ----------- */
/* dashboard
/* ----------- */
#dashboard_content #w1 {
  border:2px solid #91f5cf;
  box-shadow: 0 2px 3px 0 rgba(145, 245, 207, 0.21)
}
.pagerButtons.hover
{
  text-decoration: none;
  color: #ffffff !important;
}
.visibility-hidden
{
  visibility: hidden;
}

#search-list {
  z-index: 5;
  list-style: none;
  overflow-y: scroll;
  max-height: 200px;
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
}
#search-list li {
  display: block;
  height: 34px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #ffffff;
  background-color: #b3b3b3 !important;
  font-weight: 700;
  color: #1a1aff !important;
  padding: 6px 12px;
  line-height: 1.42857143;
   font-family: 'Offside', cursive;
}
#search-list li:hover{
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color:  #f2f2f2 !important;
  cursor: pointer;
}
.start_category {
  color: #4a4785;
}

/* overwriting bootstrap alert*/
.alert-custom {
  padding: 5px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 0;
  box-shadow: none;
  font-family: 'Offside', cursive;
}

/* ---------------------- */
/* fixed menu and sidebar
/* ---------------------- */

/*.fixed_nav  #main-sidebar,*/
.fixed_nav .top_nav
{
  position: fixed !important;
}
.fixed_nav .top_nav
{
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
}

/* ---------------------- */
/* sidebar
/* ---------------------- */
#main-sidebar {
  /*
  -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out !important;
  -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out !important;
  -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out !important;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out !important;
  */
}
/* ---------------------- */
/* page content
/* ---------------------- */
.top_Logo_and_Profile{
  margin-bottom: 25px;
}
.page_content {
    padding: 50px 20px 0 !important;  /* increased top padding since top nav is fixed */
}
.panel-header-custom
{
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
    margin-bottom: 10px  
}

.panel-header-custom h2 {
    margin: 5px 0 6px;
    float: left;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

/* ---- fix top stats text in dashboard being cut-off when max width is 991px ---- */
@media (max-width: 991px) {
    .tile_count {
        padding-top: 50px;
    }
}
/* ---------------------- */
/* message
/* ---------------------- */
#message_wrapper {
  width: 100%;
}

/* ---------------------- */
/* business
/* ---------------------- */
#create_new_business,
#businessList_id {
  margin-top: 25px; 
}
#create_new_business .panel-default  {
  padding: 2px 5px 10px;
}
#create_new_business .panel-body  {
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (max-width: 991px) { 
  #create_new_business,
  #businessList_id {
    margin-top: 60px;
  }
}


/* ---------------------- */
/* adverts list
/* ---------------------- */
ul.rightSideActionMenu {
    padding: 0;
}
ul.rightSideActionMenu li
{
  display: inline;
}
ul.rightSideActionMenu li a {
    padding-left: 10px;
    text-decoration: none;
}

.adverts_panel_container 
{  
  /*font-family: 'Offside', cursive; */
}
.adverts_panel_container .data-jplist-item-name
{
  margin-left: 10px;
}
/*
div.advertPolaroid_container:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}
*/
div.advertPolaroid_container {
/*  width: 80%; */
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  overflow: hidden;
  color: #4a5868;

}
div.advertPolaroid_title
{
  padding: 5px 20px;
}
div.advertPolaroid_title h4 {
  font-weight: 700;
  font-size: 16px;
}
div.advert_description_wrapper 
{
  padding: 10px 10px 15px;  
}

 .advert_description
{
  text-align: justify;
  font-size: 14px;
}
.read_advert_details{
  text-decoration: underline;
}
.read_advert_details:hover{
  text-decoration: underline;
  color: green;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

/* dropdown hover effect on advert */
.advert_view_list {
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.advert_mask .btn-round .badge {
  background: #fff !important;
  color: #3d9970;
}
.advert_view_list .advert_mask
{
    position: absolute;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 230px;
}
.advert_view_list img 
{
    display: block;
    position: relative;
}

.advert_view_list .overflow_tools {
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 16px;
    padding: 3px;
    /* background: rgba(0, 0, 0, 0.35); */
    margin: 43px 0 0 0;
}

.advert_view_list .overflow_tools a {
    display: inline-block;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    padding: 5px 4px;
}

.advert_view_list p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}

.advert-view-first img {
    transition: all 0.2s linear
}

.advert-view-first .advert_mask {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.4s ease-in-out
}
.advert-view-first .overflow_tools {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out
}
.advert-view-first p {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear
}
.advert-view-first:hover img {
    transform: scale(1.1)
}
.advert-view-first:hover .advert_mask {
    opacity: 1
}

.advert-view-first:hover .overflow_tools,
.advert-view-first:hover p {
    opacity: 1;
    transform: translateY(0px)
}
.advert-view-first:hover p {
    transition-delay: 0.1s
}

/* load more adverts */
.order-action-span:hover,
.order-action-span:active
{
  text-decoration: none;
  background-color: #fff !important;
}
#order-action-span-value,
#order-action-span-value:hover
{
  cursor: default;
}
.loadingAdverts_wrapper_order img 
{
  width: 80px;
  height: 59px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.loadingAdverts_wrapper {
  position: relative;
}
.loadingAdverts_wrapper img
{
  z-index: 9;
  top: 50%;
  left: 50%;
  position: absolute;
}

@media (max-width: 991px) {

  .pageTitle-Wrapper-Class {
    padding-top: 50px; 
  }
}

/*
* search textbox 
*-----------------*/
.top_search #dataInput_advertFilter,
.top_search #dataSearch_jobs 
{
  border-radius: 25px;
}
/*
#filterSearchAdvertList {
    border-right: 0;
    box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.075);
    border-radius: 25px;
    padding-left: 20px;
    border: 1px solid rgba(221, 226, 232, 0.49)  
}
*/
#sort_Adverts_select {
    border-right: 0;
    box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.075);
    border: 1px solid rgba(221, 226, 232, 0.49);
    color: #556477; 
}


/* ---------- */
/* job details
/* ---------- */
.fa_job_icon
{
  background: #555;
  border-radius: 50%;
  color: #fff;
  position: absolute;
}
.fa_job_icon i
{
  position: relative;
  padding: 15px;
}
.duration_posted
{
  margin-left: 6.5em;
}
.job_details_a:hover
{
  text-decoration: none;
  color: white;
}
@media(max-width:360px)
{

  .duration_posted
  {
    margin-left: 1px;
  }

}

@media(max-width:512px)
{
  .duration_posted
  {
    margin-left: 2em;
  }
}

/* job list */
#jobs_content_wrapper_class
{
  width: 100%;
  padding: 0;
  margin: 0;
}
div.card_container 
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 15px;
  font-family: 'Source Sans Pro', sans-serif;
}

div.card_container:hover
{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3), 0 6px 10px 0 rgba(0, 0, 0, 0.29);
  transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
}

div.card_header 
{
  padding: 5px 20px 2px;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

div.card_container_body 
{
    padding: 5px 20px 10px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}
/*
@media (max-width: 992px) 
{  
  div.card_container 
  {
    clear: both;
  }
}
*/
.job_title_tr
{
  font-size: 20px;
  font-weight: 700;
}
.job-brief-details
{
    padding-top: 10px;
    color: #595959;
}
.job-brief-details p,
.advert-brief-details p
{
  font-size: 14px;
  margin: 1px 0 2px;
}

.advert-brief-details 
{
  padding-top: 10px;
}

.loading-overlay
{
  text-align: center;
  position: relative;
  display: none;
}
.loading-overlay i {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 999;
}

/* job sorting */
.job_salary_footer_tr2 a
{
  font-size: 13px;
}

.job_salary_footer_tr2 a,
.job_salary_footer_tr2 a:visited,
.job_salary_footer_tr2 a:hover,
.job_salary_footer_tr2 a:active
{
  text-decoration: none;
  color: #d81b60;
}


/* --------------
      Profile 
  -------------- */
.account-content,
#activities-view-wrapper
{
  color: #4d4d4d;
}
.tag-basic:after {
    border-left: 11px solid #3498DB;
}
.tag-location:after {
    border-left: 11px solid #9B59B6;
}
.tag-settings:after {
    border-left: 11px solid #3d9970;
}
.timeline .block {
    font-family: 'Source Sans Pro', sans-serif;
}
.timeline h2.title 
{
    font-weight: 800;
}

.timeline h2.basic-title a
{
  color: #3498DB;
}
.timeline h2.location-title a
{
  color: #9B59B6;   
}
.timeline h2.settings-title a
{
  color: #3d9970;    
}

.account-content
{
  padding-top: 5px;
}
.account-content p {
  font-size: 15px;
}
.account-content p .sub-title-l
{
  font-size: 13.5px;
  font-weight: 700;
}
.no-cursor-link:hover
{
  cursor: default;
}
.text-edit-i 
{
  position: absolute;
}

.text-edit-i:hover{
    -webkit-animation-name: editIconAnimation; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.6s; /* Chrome, Safari, Opera */
    animation-name: editIconAnimation;
    animation-duration: 0.6s;
    cursor: pointer;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes editIconAnimation {
    from {transform: rotateZ(0deg);}
    to {transform: rotateZ(360deg);}
}

/* Standard syntax */
@keyframes editIconAnimation {
    from {transform: rotateZ(0deg);}
    to {transform: rotateZ(360deg);}
}

/* elements hidden */
.form-div-hidden,
.element-hidden
{
  display: none;
}
#sub_account_details_form,
#sub_location_details_form,
#sub_location_details_p,
#sub_account_details_p
{
    margin-top: 3px;
}

/* right side - activities */
.activities-view-wrapper-content
{
  width: 100%;
}
#activities-view-wrapper
{
  overflow: hidden;
  width: 100%;
}
.activities_container
{
  max-height: 760px;
  overflow-y: scroll;
  width: 100%;
}
.activities-ul
{
  list-style: none;
  font-family: 'Source Sans Pro', sans-serif;

}
.activities-ul li 
{
  padding: 2px 0;
  font-size: 14px;
}
.activities-ul li a
{
  font-size: 11px;
  margin-top: 3px;
}

.list-divider {
    border-bottom: 1px solid #ddd;
    margin: 10px 0;
    padding: 0;
}

/* favorites */
.favorite_container {
  width: 100%;
}

#loadFavoriteJobsDataTable
#loadFavoriteJobsDataTable thead,
#loadFavoriteJobsDataTable thead tr,
#loadFavoriteJobsDataTable thead tr th,
#loadFavoriteJobsDataTable tbody,
#loadFavoriteJobsDataTable tbody tr,
#loadFavoriteJobsDataTable tbody tr td
{
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}
#favorites-adverts-container .fav-adverts-panel .panel-footer,
#favorites-adverts-container .fav-adverts-panels .panel-heading
{
  padding: 5px 3px !important;
}

.fav-adverts-panel .panel-body {
  padding: 10px !important;
}

ul.adverts_fav_footer {
    padding: 0;
    text-align: right;
}
ul.adverts_fav_footer li
{
  display: inline;
}
ul.adverts_fav_footer li a {
    padding-left: 10px;
    text-decoration: none;
}

/* stats progress bars */
.progress.progress_md {
    border-radius: 0;
    margin-bottom: 18px;
    height: 13px !important;
}
.progress.progress_md .progress-bar {
    height: 13px !important;
    line-height: 1.1;
}

/* change profile image */
#crop-avatar {
  position: relative;
}
#avatar-client-profile {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  margin: 0 auto;
  width: 100px;
  padding: 3px;
  border: 3px solid #d2d6de;
}



#change-profile-div {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#crop-avatar:hover #avatar-client-profile {
  opacity: 0.5;
}

#crop-avatar:hover #change-profile-div {
  opacity: 1;
}

#change-profile-btn {
  height: 0;
  overflow: hidden;
  width: 0;
}
#change-profile-btn + label {
  background: #f15d22;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  outline: none;
  padding: 10px 15px;
  position: relative;
}
#avatar-client-profile {
  width: 100%;
  height: auto;
}

#change-profile-btn + label:hover {
  background-color: #d3460d;
}
/*
@media (max-width: 990px) {
  #avatar-client-profile {
    width: 250px;
    height: 250px;
  }
}
*/

@media (max-width: 768px){  
  #change-profile-div {
    left: 50%;
  }
}

@media (max-width: 767px){  
  #change-profile-div {
    left: 50%;
  }
}

@media (max-width: 320px){  
  #change-profile-div {
    left: 50%;
  }
}



/*
* publish advert
* ----------------- */
.adverts_briefs_notes
{
  text-align: left;
}
.adverts_briefs_notes p span {
color: #885411;
}
.text-3
{
  color: #333333;
}

/*
* create job and advert forms
* ---------------------------- */

#dataForm_createNewJob label,
#dataForm_createNewAdvert label
{
    color: #001f3f;
}


/*
* chatbox
* ---------------------------- */
#fast-service-popup-chatbox {
    padding: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    background: #fff;
    border-right: 0;
    border-bottom: 0;
    z-index: 1;   
    color: #2a333c;
    width: 320px;
    overflow: hidden;
    border: 1px solid #d81b60;
    font-family: 'Source Sans Pro', sans-serif;
}
#fast-service-popup-chatbox .chat-header {
    padding: 5px;
    background: #d81b60;
    color: #fff;
    font-size: 15px;
}
#fast-service-popup-chatbox .chat-header .close {
    text-shadow: 0 1px 0 #ffffff;
    line-height: .8;
    color: #fff;
}
.chat-body-wrapper {
  display: none;
}
#fast-service-popup-chatbox .chat-body {
    height: 250px;
    border-radius: 0;
    border-left: none;
    border-right: none;
    overflow: auto;
}
#fast-service-popup-chatbox .chat-footer {
    padding: 10px
}
.badge-white {
  background-color: #fff
}
#fast-service-popup-chatbox .chat-header .badge-notifi {
  display: inline-block;
  background-color: #fff;
  min-width: 10px;
  padding: 2px 5px;
  line-height: 1;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 10px;
  margin-bottom: 3px;
}
#chat_message {
  resize: vertical;
}

/*==== top notification bar ====*/

@media (max-width: 518px) {
  .notify-text-span {
    display: none; /* handles distorted break when width is 518px */
  }
}