 
/*! Name: Fast Service Main Styling File Created: 8th Sept, '19 */
/* Start of Styling ================================================== */
/* * init * ----------------- */
 body{
     padding:0;
     margin:0;
     background:#FFF;
     font-family: 'Nunito';
     letter-spacing: 0.0625em;
}
 body a{
     transition:0.5s all;
     -webkit-transition:0.5s all;
     -moz-transition:0.5s all;
     -o-transition:0.5s all;
     -ms-transition:0.5s all;
}
 input[type="button"],input[type="submit"]{
     transition:0.5s all;
     -webkit-transition:0.5s all;
     -moz-transition:0.5s all;
     -o-transition:0.5s all;
     -ms-transition:0.5s all;
}
 h1,h2,h3,h4,h5,h6{
     margin:0;
     padding:0;
}
 p{
     margin:0;
     padding:0;
}
 ul{
     margin:0;
     padding:0;
}
 label{
     margin: 0;
}
 button{
     transition:0.5s all;
     -webkit-transition:0.5s all;
     -moz-transition:0.5s all;
     -o-transition:0.5s all;
     -ms-transition:0.5s all;
}
 img {
     transition:0.5s all;
     -webkit-transition:0.5s all;
     -moz-transition:0.5s all;
     -o-transition:0.5s all;
     -ms-transition:0.5s all;
}
 a {
     color: #64a19d;
}
 a:focus, a:hover {
     text-decoration: none;
     color: #3c6360;
}
 .bg-black {
     background-color: #161616 !important;
}
 .element-display-none {
     display: none;
}
 .text-init-color {
     color: rgba(64, 64, 64, 0.9);
}
 h2.title {
     color: #64a19d;
     font-family: 'Roboto', sans-serif;
     font-size: 20px;
     font-weight: 700;
     margin: 0 15px;
     text-transform: uppercase;
     margin-bottom: 30px;
     position: relative;
}
 h2.title:before{
     content: " ";
     position: absolute;
     background: #fff;
     bottom: -6px;
     width: 220px;
     height: 30px;
     z-index: -1;
     left: 50%;
     margin-left: -110px;
}
 .bg h2.title {
     margin-right:0;
     margin-left:0;
     margin-top: 0;
}
 h2.title:after{
     content: " ";
     position: absolute;
     border: 1px solid #d5f6ef;
     bottom:8px;
     left: 0;
     width: 100%;
     height: 0;
     z-index: -2;
}
/* * nav * ----------------- */
/* login on navbar */
 .navbar .dropdown-menu.form-wrapper {
     width: 280px;
     padding: 20px;
     left: auto;
     right: 0;
     font-size: 14px;
}
 .navbar .dropdown-menu.form-wrapper a {
     color: #33cabb;
     padding: 0 !important;
}
 .navbar .dropdown-menu.form-wrapper a:hover{
     text-decoration: underline;
}
 .navbar .form-wrapper .hint-text {
     text-align: center;
     margin-bottom: 15px;
     font-size: 13px;
}
 .navbar .form-wrapper .form-footer {
     text-align: center;
     padding-top: 10px;
     font-size: 13px;
}
 .navbar .form-wrapper .form-footer a:hover{
     text-decoration: underline;
}
 .navbar .form-wrapper .checkbox-inline input {
     margin-top: 3px;
}
 .navbar .checkbox-inline {
     font-size: 13px;
}
 .navbar .navbar-right .dropdown-toggle::after {
     display: none;
}
 @media (min-width: 1200px){
     .form-inline .input-group {
         width: 300px;
         margin-left: 30px;
    }
}
 @media (max-width: 768px){
     .navbar .dropdown-menu.form-wrapper {
         width: 100%;
         padding: 10px 15px;
         background: transparent;
         border: none;
    }
     .navbar .form-inline {
         display: block;
    }
     .navbar .input-group {
         width: 100%;
    }
     .navbar .nav .btn-primary, .navbar .nav .btn-primary:active {
         display: block;
    }
}
/* navbar top */
 #mainNav {
     min-height: 56px;
     background-color: #fff;
}
 #mainNav .navbar-toggler {
     font-size: 80%;
     padding: 0.75rem;
     color: #64a19d;
     border: 1px solid #64a19d;
}
 #mainNav .navbar-toggler:focus {
     outline: none;
}
/* #mainNav .navbar-brand {
     color: #161616;
     font-weight: 700;
     padding: .9rem 0;
}
 */
 #mainNav .navbar-brand img{
    /*
     width: 100%;
     height: auto;
     */
     width: 60px;
     height: 60px;
}
 #mainNav .navbar-nav .nav-item:hover {
     color: fade(white, 80%);
     outline: none;
     background-color: transparent;
}
 #mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
     outline: none;
     background-color: transparent;
}
 @media (min-width: 992px) {
     #mainNav {
         padding-top: 0;
         padding-bottom: 0;
         border-bottom: none;
         background-color: transparent;
         -webkit-transition: background-color 0.3s ease-in-out;
         transition: background-color 0.3s ease-in-out;
    }
     #mainNav .navbar-brand {
         padding: .5rem 0;
         color: rgba(255, 255, 255, 0.5);
    }
     #mainNav .nav-link {
         -webkit-transition: none;
         transition: none;
         padding: 2rem 1.5rem;
         color: rgba(255, 255, 255, 0.9);
    }
     #mainNav .nav-link:hover {
         color: rgba(255, 255, 255, 0.75);
    }
     #mainNav .nav-link:active {
         color: white;
    }
     #mainNav.navbar-shrink {
         background-color: #343a40;
    }
     #mainNav.navbar-shrink .navbar-brand {
    }
     #mainNav.navbar-shrink .navbar-brand img {
         width: 100%;
         height: 50px !important;
         position: relative;
         right: 3px;
    }
     #navBar-brand-title {
         display: none;
    }
     #mainNav.navbar-shrink .navbar-brand #navBar-brand-title {
         font-weight: 700;
         display: inline-block;
         position: absolute;
         top: 15%;
         font-size: 29px;
         padding: 0 5px;
         letter-spacing: 0.4rem;
         background: -webkit-linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5));
         -webkit-text-fill-color: transparent;
         -webkit-background-clip: text;
    }
    /* #mainNav.navbar-shrink .navbar-brand {
         color: #161616;
    }
     */
     #mainNav.navbar-shrink .nav-link {
         color: #fff;
         padding: 1.5rem 1.5rem 1.25rem;
         border-bottom: 0.25rem solid transparent;
    }
     #mainNav.navbar-shrink .nav-link:hover {
         color: #64a19d;
    }
     #mainNav.navbar-shrink .nav-link:active {
         color: #467370;
    }
     #mainNav.navbar-shrink .nav-link.active {
         color: #fff;
         outline: none;
         border-bottom: 0.25rem solid #64a19d;
        /* color: #64a19d;
         outline: none;
         border-bottom: 0.25rem solid #64a19d;
         */
    }
}
 .masthead {
     position: relative;
     width: 100% !important;
     height: auto;
     min-height: 35rem;
     padding: 15rem 0;
     background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)), url("../images/bg-masthead.jpg");
     background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("../images/bannerImg.png");
     background-position: center;
     background-repeat: no-repeat;
     background-attachment: scroll;
     background-size: cover;
}
 .masthead .container .row{
     width: 100% !important;
}
 .masthead h1 {
     font-family: 'Varela Round';
     font-size: 2.5rem;
     line-height: 2.5rem;
     letter-spacing: 0.8rem;
     background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;
}
 .masthead h2 {
     max-width: 20rem;
     font-size: 1rem;
}

 #ff-left-title  {
    margin: 0 auto;
 }
 #ff-left-title .ff-title-wrapper {
     border-bottom: 1px solid #fff;
}

@media (max-width: 767px) {

 .thim-click-to-bottom {
    display: none;
  }

  #ff-left-title {
    margin-bottom: 50px;
  }

}



 .thim-click-to-bottom {
     position: absolute;
     bottom: 25%;
     left: 47.5%;
     width: 40px;
     height: 40px;
     font-size: 40px;
     line-height: 40px;
     -webkit-animation: bounce 2s infinite ease-in-out;
     z-index: 99;
}
 .thim-click-to-bottom i {
     color: #3be8b0;
     border: 2px solid #fff;
     font-size: 18px;
     width: 30px;
     height: 57px;
     text-align: center;
     line-height: 54px;
     border-radius: 20px;
}
 @-webkit-keyframes bounce {
     0%, 20%, 60%, 100% {
         -ms-transform: translateY(0);
    }
     0%, 20%, 60%, 100% {
         -o-transform: translateY(0);
    }
     0%, 20%, 60%, 100% {
         -moz-transform: translateY(0);
    }
     0%, 20%, 60%, 100% {
         -webkit-transform: translateY(0);
    }
     40% {
         -webkit-transform: translateY(-20px);
    }
     80% {
         -webkit-transform: translateY(-10px);
    }
}
 @media (min-width: 768px) {
     .masthead h1 {
         font-size: 4rem;
         line-height: 4rem;
    }
}
 @media (min-width: 992px) {
     .masthead {
         height: 100vh;
         padding: 0;
    }
     .masthead .container .row{
         width: 100% !important;
    }
     .masthead h1 {
         font-size: 5.5rem;
         line-height: 5.5rem;
         letter-spacing: 0.8rem;
    }
     .masthead h2 {
         max-width: 30rem;
         font-size: 1.25rem;
    }
}
 @media (max-width: 992px) {
     #navBar-brand-title, #mainNav.navbar-shrink .navbar-brand #navBar-brand-title {
         display: none;
    }
     .masthead #signupform-title-row {
         margin-top: 1px !important;
    }
}
/* signup and signin form */
 #signupform-title-row {
     margin-top: 7em;
}
 #register-login-form-div {
     min-height: 485px !important;
     max-height: 485px !important;
}
 .masthead .form-control {
     border-radius:0px;
     background-color: rgba(0, 0, 0, 0.25);
     color:#fff;
     text-align: center;
     font-size: 14px;
}
 .masthead .form-group label {
     color:#fff;
}
 .masthead input::-webkit-input-placeholder {
     color:#fff!important;
}
 .masthead input:-moz-placeholder {
    /* Firefox 18- */
     color:#fff!important;
}
 .masthead input::-moz-placeholder {
    /* Firefox 19+ */
     color:#fff!important;
}
 .masthead input:-ms-input-placeholder {
     color:#fff!important;
}
 .aria-hint-text {
     color: rgba(75, 180, 134, 0.9);
}
/* * utilities * -------------- */
 .mt-10 {
     margin-top: 10px;
}
 .mt-11 {
     margin-top: 11px;
}
 .mt-12 {
     margin-top: 12px;
}
 .mt-13 {
     margin-top: 13px;
}
 .mt-14 {
     margin-top: 14px;
}
 .mt-15 {
     margin-top: 15px;
}
/* * buttons * -------------- */
/* .btn {
     -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
     box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
     padding: 1.25rem 2rem;
     font-family: 'Varela Round';
     font-size: 80%;
     text-transform: uppercase;
     letter-spacing: .15rem;
     border: 0;
}
 */
 .btn.btn-flat {
     border-radius: 0;
     -webkit-box-shadow: none;
     -moz-box-shadow: none;
     box-shadow: none;
     border-width: 1px;
}
 .btn-primary {
     background-color: #64a19d;
}
 .btn-primary:hover {
     background-color: #4f837f;
}
 .btn-primary:focus {
     background-color: #4f837f;
     color: white;
}
 .btn-primary:active {
     background-color: #467370 !important;
}

/*
*   Background
* -------------*/
.grey-bg {
    background-color: #f5f5f7;
}


/* * About section * -------------- */
 .about-section {
     padding-top: 5rem;
     /* background: #f2f2f2; */
}
 .about-section p {
     margin-bottom: 5rem;
}
/* * How * ------ */
 .the-how-section {
     padding: 5rem 0;
    /* background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)), url("../img/bg-signup.jpg");
     background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("../images/bg-signup.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     -webkit-background-size:cover;
     -moz-background-size:cover;
     -o-background-size:cover;
     -ms-background-size:cover;
     */
}
 .the-how-section .form-inline input {
     -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
     box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
     padding: 1.25rem 2rem;
     height: auto;
     font-family: 'Varela Round';
     font-size: 80%;
     text-transform: uppercase;
     letter-spacing: 0.15rem;
     border: 0;
}
/* slider part */
 .ser-bottom p {
     padding: 2px 0;
}
 .ser-bottom p i {
     font-size: 13px;
     color: #ffc107;
     animation: rotationi 4s ease infinite;
     -webkit-animation: rotationi 4s ease infinite;
}
 .card-header {
     background-color: #6f42c1;
}
/* Standard syntax */
 @keyframes rotationi {
     from {
         transform: rotate(0deg);
    }
     to {
         transform: rotate(360deg);
    }
}
/* Chrome, Safari, Opera */
 @-webkit-keyframes rotationi {
     from {
         -webkit-transform: rotate(0deg);
        /* Safari */
    }
     to {
         -webkit-transform: rotate(360deg);
        /* Safari */
    }
}
/* video part */
 #ff-video-div video {
     width: 100%;
     height: auto;
}
/* * features * ---------- */
 section.the-features-section {
     padding: 100px 0;
     background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)), url("../img/bg-signup.jpg");
     background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("../images/home.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     -webkit-background-size:cover;
     -moz-background-size:cover;
     -o-background-size:cover;
     -ms-background-size:cover;
}
 .features-list span {
     color: #28a745;
     font-size: 25px;
     padding: 20px 20px;
     border: 1px solid #fff;
}
 .features-list:hover.features-list span {
     color: #fff;
     border: 1px solid #28a745;
     border-radius:100%;
     -webkit-border-radius:100%;
     -o-border-radius:100%;
     -ms-border-radius:100%;
     -moz-border-radius:100%;
     transition:0.5s all;
     -webkit-transition:0.5s all;
     -moz-transition:0.5s all;
     -o-transition:0.5s all;
     -ms-transition:0.5s all;
}
 .features-list h4 {
     color: rgba(243, 74, 74, 0.8) 
    /*#00A4E4*/
    ;
     font-size: 20px;
     margin: 20px 0;
}
 .features-list p {
     color: #fff;
     line-height: 2.2em;
     font-size: 14px;
}
/* * contact us * ---------- */
 section.contact-section {
     padding: 5rem 0 0;
}
 .contact-map {
     width: 100% !important;
     height: 380px;
     margin-bottom: 10px;
}
 .contact-form .form-group {
     margin-bottom: 20px;
}
 #contactus .form-control::-moz-placeholder {
     color: #8D8D8D;
}
 #contactus .form-control {
     background-color: #fff;
     border: 1px solid #ddd;
     color: #696763;
     height: 46px;
     padding: 6px 12px;
     width: 100%;
     font-size: 16px;
     border-radius: 4px;
     box-shadow:inherit;
}
 #contactus #dataIdTextArea_client_message {
     height:160px;
     resize:none;
}
 #contactus #dataIdButton_sendMessage {
     margin-bottom: 15px;
     margin-top: 20px;
}
 #contactus .form-control:focus, #contactus .form-control:hover {
     box-shadow: inherit;
     border-color: #007bff;
}
 .address-block ul {
     text-decoration: none;
     list-style: none;
}
 .address-block ul li {
     line-height: 35px;
}
 .contact-section .social {
     margin-top: 1rem;
}
 .contact-section .social a {
     text-align: center;
     height: 3rem;
     width: 3rem;
     background: rgba(255, 255, 255, 0.1);
     border-radius: 100%;
     -webkit-border-radius:100%;
     -moz-border-radius:100%;
     -o-border-radius:100%;
     -ms-border-radius:100%;
     line-height: 3rem;
     color: rgba(255, 255, 255, .9);
     transition:0.5s all;
     -webkit-transition:0.5s all;
     -moz-transition:0.5s all;
     -o-transition:0.5s all;
     -ms-transition:0.5s all;
}
 .contact-section .social-pages {
     font-weight: 600;
}
/* .contact-section .social a:hover {
     color: rgba(255, 255, 255, 0.5);
}
 .contact-section .social a:active {
     color: #fff;
}
 */
 div.social a.facebook-link {
     background-color:#3b5998;
}
 div.social a.facebook-link:hover {
     background-color:#002573;
}
 div.social a.twitter-link {
     background-color:#55acee;
}
 div.social a.twitter-link:hover {
     background-color:#004A82;
}
 div.social a.youtube-link {
     background-color:#ac2b20;
}
 div.social a.youtube-link:hover {
     background-color:#660900;
}
/* * Footer * ------ */
 footer {
    /* padding: 5rem 0;
     */
     background:url(../images/home.jpg);
     background-position:center;
     background-attachment:fixed;
     background-repeat:no repeat;
     background-size:cover;
     -webkit-background-size:cover;
     -moz-background-size:cover;
     -o-background-size:cover;
     -ms-background-size:cover;
     padding:5rem 0;
}
 .footer-addr {
     overflow: hidden;
     max-height: 290px;
}
 .strip {
     background: rgba(243, 74, 74, 0.8);
     width: 50px;
     height: 2px;
     margin-top: 15px;
     margin-bottom: 25px;
}
 ul.footer-links-list {
     list-style:none;
}
 ul.footer-links-list li i {
     color: #fff;
}
 ul.footer-links-list li a {
     color:#fff;
     font-size:17px;
     font-weight:normal;
     text-decoration:none;
}
 .footer-links-list li a:hover {
     color: #F34A4A;
     padding-left: 8px;
}
 ul.footer-links-list li {
     padding-bottom:8px;
}
 #footer-copyright {
}
 hr {
     margin-top: 20px;
     margin-bottom: 20px;
     border: 0;
     border-top-color: currentcolor;
     border-top-style: none;
     border-top-width: 0px;
     border-top: 1px solid #eee;
}
/* * scroll to top * -------------- */
 #toTop {
     display: none;
     text-decoration: none;
     position: fixed;
     bottom: 10px;
     right: 10px;
     overflow: hidden;
     width: 40px;
     height: 40px;
     border: none;
     text-indent: 100%;
     background: url(../images/arr.png) no-repeat 0px 0px;
}
/* * pnotice * -------------- */
 .pnotice-dark {
     background: #343a40 !important;
}
/* * media queries * -------------- */
/* remove parallax on mobile and tablets */
 @media only screen and (max-width: 749px) {
     section.the-features-section, footer {
         background-attachment: inherit;
    }
}
